<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="q-mt-lg desktop-only" align="center">
          <div class="text-h5">Agregar palabra</div>
        </div>

        <!-- Formulario -->
        <div class="row justify-center q-pt-md">
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 q-pa-md">
            <q-select
              required
              v-model="category"
              class="q-mb-md"
              outlined
              option-value="id"
              option-label="name"
              :options="categories"
              label="Categoría"
            />

            <q-input class="q-mt-md" v-model="Word" q-input outlined type="text" label="Forma correcta"></q-input>

            <div class="q-mt-sm">
              <q-radio v-model="cursiva" val="0" label="Redonda" />
              <q-radio v-model="cursiva" val="1" label="Cursiva" />
            </div>

            <div  v-for="(item, i) in Erroneas" :key="i">
              <q-input class="q-mt-md" v-model="Erroneas[i].word" q-input outlined type="text" label="Forma errónea"></q-input>

              <div class="row justify-between q-mt-sm img">
                <div>
                  <q-radio v-model="Erroneas[i].cursiva" val="0" label="Redonda" />
                  <q-radio v-model="Erroneas[i].cursiva" val="1" label="Cursiva" />
                </div>         
                <q-icon v-if="Erroneas.length > 1"  name="close" color="red-5" size="xs" class="closeImg" @click="quitarErronea(i)"/>     
              </div>
            </div>
            <div class="row justify-between q-mt-sm">
              <div class="col-12">
                <q-btn
                  no-caps
                  flat
                  class="col float-right"
                  unelevated
                  rounded
                  color="primary"
                  label="Añadir otra forma errónea"
                  size="md"
                  @click="addErronea"
                />
              </div>
            </div>

            <q-select class="q-mt-md" v-model="nivel" outlined :options="niveles" label="Nivel de dificultad" />
            <q-input class="q-mt-md" v-model="meaning" q-input outlined type="textarea" label="Agrega definición"></q-input>
            <q-input class="q-mt-md" v-model="anotacion" q-input outlined type="textarea" label="Agrega anotación"></q-input>


          </div>
        </div>
        <!-- Formulario -->

        <!-- Guardar palabra -->
        <div class="row justify-center q-mt-lg q-mb-lg">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12 q-pa-sm q-gutter-sm"
            align="center"
          >
            <q-btn
              unelevated
              rounded
              color="primary"
              label="Guardar"
              size="md"
              style="height: 50px; width: 100%"
              @click="send()"
            />
          </div>
        </div>
        <!-- Guardar palabra -->
      </div>
    </div>
  </q-page>
</template>

<script>
import category from "../helper/category";
import searcher from "../helper/searcher";
import word from "../helper/word";

class wordErronea {
  cursiva = '0'
  word = null
}

export default {
  name: "WordList",
  data() {
    return {
      cursiva: '0',
      niveles: [{"label":'Nivel 1',"value":1}, {"label":'Nivel 2',"value":2}],
      nivel:{"label":'Nivel 1',"value":1},
      meaning: null,
      anotacion: null,
      categorySelectId: parseInt(this.$route.params.categorySelectId, 10),
      categories: [],
      category: "",
      wordListCorrect: [],
      wordListIncorrect: [],
      Word: "",
      WordIncorrect: "",
      wordNORAE: "",
      Erroneas : [],
    };
  },
  components: {
    search: require("components/Search.vue").default,
  },
  methods: {
    quitarErronea(i){ 
      if (this.Erroneas.length > 1) {
        this.Erroneas.splice(i, 1)
      } 
    },
    addErronea () {
      if (this.Erroneas.length < 10) {
        const a = new wordErronea()
        this.Erroneas.push(a)
      } else {
        this.$q.notify({
          textColor: 'white',
          icon: 'warning',
          message: 'Cada palabra solo puede tener máximo 10 palabras erróneas.'
        })
      }
    },
    findCategory() {
      if (this.categorySelectId != 0) {
        for (var i in this.categories) {
          if (this.categories[i].id == this.categorySelectId) {
            this.category = this.categories[i];
            break;
          }
        }
      }
    },

    async index() {
      try {
        let res = await category.free();
        res.data.forEach((catgory) =>
          this.categories.push({
            id: catgory.id,
            name: catgory.name,
          })
        );
        this.findCategory();
      } catch (error) {
        console.log(error);
      }
    },
    
    async send(){
      

      let res = await searcher.wordsCategoryCorrect(this.Word, this.category.id);

      if (res != null && !res.data.empty) {
        
        this.$q.notify({
          type: "warning",
          message:
            "La palabra '"+this.Word+"' ya se encuentra registrada.",
          timeout: 3000,
          position: "top",
          textColor: "white",
        });
        return;
      }
      
      this.Erroneas.forEach(async(erronea) =>{
        
        if(erronea.word!=null && erronea.word !=""){
        res = await searcher.wordsCategoryIncorrect(
          erronea.word,
          this.category.id
        );
        
        if (res != null && !res.data.empty) {
          this.$q.notify({
            type: "warning",
            message:
              "La forma errónea '"+erronea.word+"' ya se encuentra registrada con otra palabra.",
            timeout: 3000,
            position: "top",
            textColor: "white",
          });
          return;
        }
        }
        

      });
      try {

        let resCorrect = "";
        this.$q.loading.show();
        if (this.Word) {
          resCorrect = await word.store(this.Word, this.category.id,null,  this.meaning,this.nivel.value, this.anotacion, this.cursiva);
        }
        this.Erroneas.forEach(async(erronea) =>{
          
          let resIncorrect = "";
          if(erronea.word!=null && erronea.word !=""){
            resIncorrect = await word.store(erronea.word, this.category.id,resCorrect.data.id,  null,this.nivel.value, null, erronea.cursiva);
          }
        })

        this.$q.loading.hide();
        // MENSAJE: falta hacer validaciones de los input y notoficaciones de mensajes
        this.$router.push({
          name: "category-show",
          params: {
            id: this.category.id,
          },
        });
      } catch (error) {
        this.$q.loading.hide();
        console.log(error);
      }
    },
  },
  created() {
    this.addErronea();
    this.index();
  },
};
</script>

<style lang="css" scoped>
  .img:hover .closeImg{display: block;}
  .closeImg{ display: none; cursor: pointer;}
</style>