<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- Editar/Eliminar -->
        <div class="" align="right">
          <q-btn
            size="md"
            flat
            round
            color="primary"
            icon="las la-pen"
            :disabled="category.editable ? false : true"
            @click="activeformUpdateModal()"
          />
          <q-btn
            size="md"
            flat
            round
            color="primary"
            icon="las la-trash-alt"
            :disabled="category.deleting ? false : true"
            @click="activeformDeleteModal()"
          />
        </div>
        <!-- Editar/Eliminar -->

        <!-- Palabra -->
        <div class="q-mt-lg" align="center">
          <div class="text-h3">{{ category.name }}</div>
        </div>
        <!-- Palabra -->

        <!-- Barra desbloqueo -->
        <div class="row justify-center">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
            <div class="text-subtitle1 q-mt-md" align="center">
              Has desbloqueado el {{ category.percentage }}% de las palabras
            </div>
            <q-linear-progress
              size="10px"
              :value="progress"
              color="primary"
              class="q-mt-sm"
            />
          </div>
        </div>
        <!-- Barra desbloqueo -->

        <!-- Resultados -->
        <div class="row justify-center q-gutter-md q-mt-md">
          <q-card flat class="bg-grey-2 col-3">
            <q-card-section>
              <div class="row items-center">
                <div class="col-12">
                  <div class="text-h5" align="center">
                    {{ category.words_success }}
                  </div>
                </div>
                <div
                  class="col-12 text-subtitle1"
                  align="center"
                  style="transform: translateY(-10%)"
                >
                  Aciertos
                </div>
              </div>
            </q-card-section>
          </q-card>
          <q-card flat class="bg-grey-2 col-3">
            <q-card-section>
              <div class="row items-center">
                <div class="col-12">
                  <div class="text-h5" align="center">
                    {{ category.words_failure }}
                  </div>
                </div>
                <div
                  class="col-12 text-subtitle1"
                  align="center"
                  style="transform: translateY(-10%)"
                >
                  Fallos
                </div>
              </div>
            </q-card-section>
          </q-card>
          <q-card flat class="bg-grey-2 col-3">
            <q-card-section>
              <div class="row items-center">
                <div class="col-12">
                  <div class="text-h5" align="center">
                    {{ category.words_white }}
                  </div>
                </div>
                <div
                  class="col-12 text-subtitle1"
                  align="center"
                  style="transform: translateY(-10%)"
                >
                  Blanco
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <!-- Resultados -->

        <!-- Palabras -->
        <div class="q-mt-lg" align="center">
          <div class="text-h5">{{ total_words }} palabras</div>
        </div>
        <!-- Palabras -->

        <!-- Botones -->
        <div class="row justify-center q-gutter-md q-mt-md">
          <q-btn
            flat
            rounded
            color="primary"
            label="Ver listado"
            :disabled="category.total_words > 0 ? false : true"
            @click="selectListWords()"
          />
          <q-btn
            flat
            rounded
            color="primary"
            label="Añadir palabra"
            @click="selectAddWord()"
          />
        </div>
        <!-- Botones -->

        <button-exam
          :category-id="category.id"
          :disabled-btn="category.total_words >= 20 ? false : true"
        />
      </div>
    </div>

    <modal-category
      :active="activeModalDelete"
      @disabled-modal="disableformDeleteModal"
      @aceptar-modal="aceptarformDeleteModal"
    />

    <modal-category
      type="update"
      :category="modalCategory"
      :active="activeModalUpdate"
      @disabled-modal="disableformUpdateModal"
      @aceptar-modal="aceptarformUpdateModal"
    />
  </q-page>
</template>

<script>
import category from "../helper/category";
import words from "../helper/word";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      progress: 0.0,
      id: this.$route.params.id,
      category: {},
      modalCategory: {},
      activeModalDelete: false,
      activeModalUpdate: false,
      total_words: 0
    };
  },
  components: {
    "button-exam": require("components/ButtonExam.vue").default,
    "modal-category": require("components/modal/ModalCategory.vue").default,
  },
  methods: {
    ...mapActions("categories", ["destroyCategories"]),
    ...mapActions("words", ["destroyWords"]),
    selectAddWord() {
      this.$router.push({
        name: "word-add",
        params: { categorySelectId: this.id },
      });
    },
    selectListWords() {
      this.destroyWords();

      this.$router.push({
        name: "word-list",
        params: {
          categoryId: this.category.id,
        },
      });
    },
    async show() {
      this.$q.loading.show();
      try {
        let res = await category.show(this.id);
        let res_words = await words.index(this.id);
        this.total_words = res_words.data.total_words
        this.category = res.data;
        this.modalCategory = this.category;
        this.category.percentage = parseFloat(
          this.category.percentage.toFixed(2)
        );
        this.progress = parseFloat(this.category.percentage / 100);
        this.$q.loading.hide();
      } catch (error) {
        console.log(error);
        this.$q.loading.hide();
      }
    },
    async deleteCategory() {
      this.$q.loading.show();
      try {
        await category.delete(this.id);
        this.destroyCategories();
        this.$q.loading.hide();
        this.$router.push({ name: "home" });
      } catch (error) {
        console.log(error);
        this.$q.loading.hide();
      }
    },
    async updateCategory(e) {
      let name = e.name;
      this.$q.loading.show();
      try {
        await category.update(this.id, name);
        this.category = e;
        this.destroyCategories();
        this.$q.loading.hide();
      } catch (error) {
        console.log(error);
        this.$q.loading.hide();
      }
    },
    activeformDeleteModal() {
      this.activeModalDelete = true;
    },
    disableformDeleteModal(e) {
      this.activeModalDelete = e;
    },
    aceptarformDeleteModal(e) {
      this.activeModalDelete = false;
      this.deleteCategory();
    },
    async activeformUpdateModal() {
      this.$q.loading.show();
      let res = await category.show(this.id);
      this.$q.loading.hide();
      this.activeModalUpdate = true;
      this.modalCategory = res.data;
    },
    disableformUpdateModal(e) {
      this.activeModalUpdate = e;
      this.modalCategory = {};
    },
    aceptarformUpdateModal(e) {
      this.activeModalUpdate = false;
      this.updateCategory(e);
    },
  },
  created() {
    this.show();
  },
};
</script>