<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- Título -->
        <div class="q-mt-lg q-mb-lg desktop-only" align="center">
          <div class="text-h5 text-primary">Configuración</div>
        </div>
        <!-- Título -->

        <div style="height: 20px"></div>

        <!-- Restaurar2 -->
        <div class="row justify-center q-mt-lg">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 q-pa-sm q-gutter-sm">
            <div class="text-h6">Restaurar la aplicación de fábrica</div>
            <div class="text-body2 text-grey-8">Esta opción reinicia todos los valores de la aplicación a su estado inicial. Se borrarán todos tus progresos, categorías y palabras añadidas. Será como volvera empezar de cero.</div>
            <div class="text-right q-mt-md">
              <q-btn
                unelevated
                rounded
                flat
                class="q-px-md"
                color="primary"
                label="Restaurar"
                size="md"
                style="height: 50px;"
                @click="restaurar = true"
              />
            </div>
          </div>
        </div>
        <!-- Restaurar2 -->

        <!-- Resetear 2 -->
        <q-separator class="q-mt-sm" />
        <div class="row justify-center q-mt-sm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 q-pa-sm q-gutter-sm">
            <div class="text-h6">Resetear probabilidad</div>
            <div class="text-body2 text-grey-8">Esta opción únicamente resetea la probabilidad de aparición de palabras, volviendo al estado inicial. Sin embargo, conservarás todos tus listadados de categorías, palabras y anotaciones.</div>
            <div class="text-right q-mt-md">
            <q-btn
              unelevated
              rounded
              flat
              class="q-px-md"
              color="primary"
              label="Resetear"
              size="md"
              style="height: 50px;"
              @click="resetear = true"
            />
            </div>
          </div>
        </div>
        <!-- Resetear 2 -->

        <!-- Eliminar perfil 2 -->
        <q-separator class="q-mt-sm" />
        <div class="row justify-center q-mt-sm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 q-pa-sm q-gutter-sm">
            <div class="text-h6">Eliminar perfil</div>
            <div class="text-body2 text-grey-8">Esta opción borrará tu perfil para siempre. Perderás todos tus progresos, anotaciones, palabras y categorías creadas.</div>
            <div class="text-right q-mt-md">
            <q-btn
              unelevated
              rounded
              flat
              class="q-px-md"
              color="primary"
              label="Eliminar"
              size="md"
              style="height: 50px;"
              @click="eliminar = true"
            />
            </div>
          </div>
        </div>
        <!-- Eliminar perfil 2 -->

      </div>
    </div>

    <!-- Modal restaurar  -->
    <q-dialog v-model="restaurar">
      <q-card style="" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Restaurar aplicación</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Al restaurar la aplicación perderás todos tus progresos, así como las
          palabras que hayas añadido. Será como comenzar con ella de cero.
          ¿Seguro que quieres restaurarla?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="RESTAURAR" color="primary" @click="resetProfile" />
          <q-btn flat label="CANCELAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal restaurar -->

    <!-- Modal resetear  -->
    <q-dialog v-model="resetear">
      <q-card style="" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Resetear aplicación</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Al resetear la aplicación perderás todos tus progresos, pero
          conservarás las palabras que hayas añadido. Al resetear la aplicación
          todas las palabras tienen la misma probabilidad de aparecer, al margen
          de los aciertos o fallos que hayas tenido en el pasado. ¿Seguro que
          quieres resetearla?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="RESETEAR" color="primary" @click="resetProbability" />
          <q-btn flat label="CANCELAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal resetear -->

    <!-- Modal politica_privacidad  -->
    <q-dialog v-model="politica_privacidad">
      <q-card style="" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Política de privacidad</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Añadir texto Política de privacidad....
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="ACEPTAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal politica_privacidad -->

    <!-- Modal terminos_servicio  -->
    <q-dialog v-model="terminos_servicio">
      <q-card style="" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Términos del servicio y condiciones legales</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Añadir texto términos del servicio....
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="ACEPTAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal terminos_servicio -->

    <!-- Modal eliminar  -->
    <q-dialog v-model="eliminar">
      <q-card style="" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Eliminar perfil</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Al eliminar tu perfil se borrarán todos tus progresos y para volver a
          entrar tendrás que registrarte. ¿Seguro que quieres eliminar tu
          perfil?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="ELIMINAR" color="primary" @click="deleteUser" />
          <q-btn flat label="CANCELAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal eliminar -->
  </q-page>
</template>

<script>
import { LocalStorage } from "quasar";
import { mapActions } from "vuex";
import auth from "../helper/auth";

export default {
  name: "Config",
  data() {
    return {
      restaurar: false,
      resetear: false,
      politica_privacidad: false,
      terminos_servicio: false,
      eliminar: false,
    };
  },
  components: {
    "avatar-user": require("components/AvatarUser.vue").default,
  },
  methods: {
    ...mapActions("user", ["destroyUser", "disableAuth"]),
    ...mapActions("categories", ["destroyCategories"]),
    logout() {
      auth.logout();
      this.disableAuth();
      this.destroyUser();
      this.$router.push({ name: "welcome" });
    },
    async deleteUser() {
      this.eliminar = false;
      this.$q.loading.show({message: "Eliminando perfil..."})
      this.eliminar = false

       try{
        await auth.delete();
        this.$q.loading.hide()
        this.logout();
        LocalStorage.remove("userInfo");
      } catch(err) {
        console.log(err)
        this.$q.loading.hide()
        this.$q.notify({
          type: 'negative',
          message: 'Ocurrió un error',
          timeout: 2000,
          position: 'top'
        })
      }

    },
    async resetProfile() {
      this.eliminar = false;
      this.$q.loading.show({message: "Restaurando aplicación..."})
      this.restaurar = false

       try{
        await auth.resetProfile();
        this.destroyCategories()
        this.$q.loading.hide()
        this.$q.notify({
          type: 'positive',
          message: 'Aplicación restaurada',
          timeout: 2000,
          position: 'top'
        })
      } catch(err) {
        console.log(err)
        this.$q.loading.hide()
        this.$q.notify({
          type: 'negative',
          message: 'Ocurrió un error',
          timeout: 2000,
          position: 'top'
        })
      }
    },
    async resetProbability() {
      this.eliminar = false;
      this.$q.loading.show({message: "Reseteando probabilidad..."})
      this.resetear = false

      try{
        await auth.resetProbability();
        this.$q.loading.hide()
        this.$q.notify({
          type: 'positive',
          message: 'Probabilidad reseteada',
          timeout: 2000,
          position: 'top'
        })
      } catch(err) {
        console.log(err)
        this.$q.loading.hide()
        this.$q.notify({
          type: 'negative',
          message: 'Ocurrió un error',
          timeout: 2000,
          position: 'top'
        })
      }

      
    },
  },
};
</script>

<style lang="sass">
.color-azul
  color: $primary
</style>