<template>
  <q-page>
    <q-layout class="bg-grey-2" padding>
      <div class="row justify-center">
        <div
          class="
            col-lg-8 col-md-12 col-sm-12 col-xs-12
            q-gutter-sm q-pl-md q-pr-md
          "
        >
          <div v-if="showElements">
            <div class="q-mt-lg" align="center">
              <div class="text-h5">Examen</div>
            </div>

            <timer
              :time="time"
              :play="playTimer"
              :stop="stopTimer"
              orderBy="desc"
              @timeIncrease="totalExam"
              @timeOut="timeOut"
            />

            <div v-for="word in words" :key="word.id">
              <questions
                :italic="word.italic"
                :number="word.num"
                :label="word.word"
                :objWord="word"
                @response="responseQuestion"
              />
            </div>

            <div class="row justify-center q-mt-lg q-mb-lg">
              <div
                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 q-pa-sm q-gutter-sm"
                align="center"
              >
                <q-btn
                  unelevated
                  rounded
                  color="primary"
                  label="Finalizar examen"
                  size="md"
                  style="height: 50px; width: 100%"
                  @click="storeResponse"
                />
              </div>
            </div>
          </div>

          <modal-message
            :active="modalMessage"
            :message="messageModal"
            :btnNameAccept="btnNameAccept"
            :btnAccept="btnAccept"
            :btnNameCancel="btnNameCancel"
            :btnCancel="btnCancel"
            @accept-modal="acceptModal"
            @cancel-modal="cancelModal"
          />
        </div>
      </div>
    </q-layout>
  </q-page>
</template>

<script>
import exam from "../helper/exam";
export default {
  name: "HacerExamen",
  data() {
    return {
      id: parseInt(this.$route.params.id, 10),
      words: [],
      wordsResponse: [],
      typeError: null,
      // var timer
      time: "00:00:00",
      totalTime: "00:00:00",
      playTimer: false,
      stopTimer: true,
      // var modal
      messageModal: "message",
      modalMessage: false,
      showElements: false,
      btnNameAccept: "aceptar",
      btnAccept: true,
      btnNameCancel: "cancelar",
      btnCancel: false,
    };
  },
  components: {
    "modal-message": require("components/modal/ModalMessage.vue").default,
    questions: require("components/Question.vue").default,
    timer: require("components/Timer.vue").default,
  },
  methods: {
    acceptModal(e) {
      if (
        this.typeError === "message_finalized" ||
        this.typeError === "message_not_found"
      ) {
        this.$router.push({
          name: "exam-config",
          params: { categorySelectId: 0 },
        });
      }

      this.modalMessage = false;
      this.playTimer = true;
      this.stopTimer = false;
    },
    cancelModal(e) {
      this.$router.push({
        name: "home",
      });
    },

    totalExam(e) {
      this.totalTime = e;
    },
    timeOut(e) {
      this.playTimer = false;
    },
    responseQuestion(e) {
      this.pushWordsResponse(e);
    },

    pushWordsResponse(word) {
      if (this.wordsResponse.length === 0) this.wordsResponse.push(word);

      for (var i in this.wordsResponse) {
        if (this.wordsResponse[i].id === word.id) {
          this.wordsResponse[i] = word;
          return;
        }
      }
      this.wordsResponse.push(word);
    },

    async storeResponse() {
      this.setEmptyWord();

      try {
        if (this.words.length === this.wordsResponse.length) {
          this.messageModal = "corrigiendo examen por favor espere";
          this.modalMessage = true;
          this.btnAccept = false;
          this.btnCancel = false;

          this.playTimer = false;
          this.stopTimer = true;

          let res = await exam.storeResponse(
            this.wordsResponse,
            this.totalTime
          );
          res.then(
            this.$router.push({
              name: "exam-result",
              params: { id: this.id },
            })
          );
        } else {
          this.messageModal =
            "por favor responda todas las preguntas del examen";
          this.modalMessage = true;
          this.btnAccept = true;
        }
      } catch (error) {
        console.log(error);
      }
    },

    async show() {
      try {
        let res = await exam.show(this.id);

        if (!res.data.error) {
          this.words = res.data.words;
          this.time = res.data.time;

          this.messageModal = "estas a punto de comenzar el examen";
          this.modalMessage = true;
          this.showElements = true;
          this.btnAccept = true;
          this.btnCancel = false;
        } else {
          this.typeError = res.data.type;
          this.messageModal = res.data.error;
          this.modalMessage = true;

          if (this.typeError === "message_beginning") {
            this.btnAccept = false;
            this.btnCancel = true;
            setTimeout(() => {
              this.show();
            }, 3000);
          }

          if (
            this.typeError === "message_finalized" ||
            this.typeError === "message_not_found"
          ) {
            this.messageModal += ", ¿desea crear uno nuevo?";
            this.btnNameAccept = "si";
            this.btnNameCancel = "no";
            this.btnCancel = true;
          }
        }
      } catch (error) {
        console.log(error);
      }
    },
    setEmptyWord() {
      this.words.forEach((word) => {
        let findWord = this.wordsResponse.find(
          (wordres) => wordres.id == word.id
        );

        if (!findWord) {
          let newWord = word;
          newWord.response = null;
          this.wordsResponse.push(newWord);
        }
      });
    },
  },
  created() {
    this.show();
  },
};
</script>