<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div v-show="showElements">
          <div class="q-mt-lg" align="center">
            <div class="text-h5">Palabras a utilizar</div>
          </div>

          <div class="row justify-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
              <category-show
                typeList="checkbox"
                :categorySelectId="categorySelectId"
                @loading-component="loadingCategories"
              />
            </div>
          </div>

          <div class="row justify-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
              <select-button
                title="Número de palabras"
                :objs="configWords"
                type="Word"
              />
              <select-button title="Minutos" :objs="configTimes" type="Time" />
            </div>
          </div>

          <div class="q-mt-lg" align="center">
            <div class="text-h5">Nivel</div>
          </div>

          <div class="row justify-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
              <div class="row justify-center q-gutter-md">
                <q-card flat class="bg-grey-2 col-3">
                  <q-card-section @click="selectItem(levels[0], true)">
                    <div class="row items-center">
                      <div class="col">
                        <div class="text-h5">{{ levels[0].val }}</div>
                      </div>
                      <div class="col">
                        <q-checkbox
                          @click.native="selectItem(levels[0])"
                          v-model="levels[0].statu"
                          :val="levels[0].val"
                        />
                      </div>
                    </div>
                  </q-card-section>
                </q-card>

                <div class="bg-grey-2 col-3">
                  <q-card-section @click="selectItem(levels[1], true)">
                    <div class="row items-center">
                      <div class="col">
                        <div class="text-h5">{{ levels[1].val }}</div>
                      </div>
                      <div class="col">
                        <q-checkbox
                          @click.native="selectItem(levels[1])"
                          v-model="levels[1].statu"
                          :val="levels[1].val"
                        />
                      </div>
                    </div>
                  </q-card-section>
                </div>
              </div>
            </div>
          </div>

          <button-exam :activateExam="true" :categoryId="categorySelectId" />
        </div>
      </div>
    </div>

    <modal-message
      :active="modalMessage"
      :message="messageModal"
      :btnNameAccept="btnNameAccept"
      :btnAccept="btnAccept"
      :btnNameCancel="btnNameCancel"
      :btnCancel="btnCancel"
      @accept-modal="acceptModal"
      @cancel-modal="cancelModal"
    />
  </q-page>
</template>

<script>
import bus from "../helper/bus";
import exam from "../helper/exam";
export default {
  name: "HacerExamen",
  data() {
    return {
      levels: [
        { val: 1, statu: false },
        { val: 2, statu: false },
      ],
      arrayLeve: [],
      categorySelectId: parseInt(this.$route.params.categorySelectId, 10),
      configWords: [
        { id: 1, text: "20", val: 20, value: "" },
        { id: 2, text: "50", val: 50, value: "" },
        { id: 3, text: "100", val: 100, value: "" },
      ],
      configTimes: [
        { id: 1, text: "2", val: "00:02:00", value: "" },
        { id: 2, text: "5", val: "00:05:00", value: "" },
        { id: 3, text: "8", val: "00:08:00", value: "" },
      ],
      exam: [],

      // var modal
      showElements: false,
      typeError: null,
      messageModal: "message",
      modalMessage: false,
      btnNameAccept: "aceptar",
      btnAccept: true,
      btnNameCancel: "cancelar",
      btnCancel: false,
    };
  },
  components: {
    "modal-message": require("components/modal/ModalMessage.vue").default,
    "category-show": require("components/CategoryShow.vue").default,
    "button-exam": require("components/ButtonExam.vue").default,
    "select-button": require("components/SelectButton.vue").default,
  },
  methods: {
    selectItem(leveItem, outside) {
      if (outside) {
        leveItem.statu = !leveItem.statu;
      }

      if (leveItem.statu === true) {
        this.arrayLeve.push(leveItem.val);
      } else {
        this.arrayLeve = this.arrayLeve.filter(function (item) {
          return item !== leveItem.val;
        });
      }

      bus.$emit("arrayLevels", this.arrayLeve);
    },

    loadingCategories(e) {
      this.showElements = e;
    },
    acceptModal(e) {
      this.modalMessage = e;
      if (this.typeError === "exam_in_progress") {
        this.$router.push({
          name: "exam",
          params: {
            id: this.exam.id,
          },
        });
      }
    },
    cancelModal(e) {
      this.modalMessage = e;
      if (this.typeError === "exam_in_progress") {
        this.destroy();
      }
    },

    async examCurrent() {
      this.$q.loading.show();
      try {
        let res = await exam.current();
        this.exam = res.data;
        this.typeError = res.data.type;

        if (this.typeError === "exam_in_progress") {
          this.modalMessage = true;
          this.messageModal = res.data.error + ", ¿desea continuar?";
          this.btnNameAccept = "si";
          this.btnNameCancel = "no";
          this.btnAccept = true;
          this.btnCancel = true;
        }
        this.$q.loading.hide();
      } catch (error) {
        console.log(error);
        this.$q.loading.hide();
      }
    },
    async destroy() {
      try {
        let res = await exam.delete(this.exam.id);
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.examCurrent();
  },
};
</script>

<style lang="sass">
.color-azul
  color: $primary
</style>