<template>
  <q-layout view="hHh lpR fFf" class="bg-white">
    <toolbar-menu v-if="auth"></toolbar-menu>

    <q-page>
      <div class="mobile-hide">
        <div style="height:50px"></div>
        <div class="row q-col-gutter-lg flex flex-center q-mt-lg q-pa-sm">
          <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
            <div class="q-mb-lg">
              <img src="../assets/logo3.png" alt="" width="350" height="" />
            </div>
            <div class="text-h3 text-weight-bolder mobile-hide">La memorización eficiente de palabras y reglas ortográficas es posible</div>
            <div class="text-h5 q-mt-md mobile-hide">Accede a nuestro sistema revolucionario</div>
            <div class="text-subtitle1 col q-pt-lg">
              Hemos desarrollado un novedoso sistema de aprendizaje que se
              adapta a tus conocimientos y te ayuda a mejorar cada día. Entra
              ahora y pruébalo gratis.
            </div>
            <div class="col-auto q-mt-lg">
              <q-btn
                unelevated
                rounded
                style="width: 50%; height: 50px"
                color="primary"
                label="Entrar ahora"
                @click="enterNow()"
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <div class="flex flex-center">
                <img
                  src="../assets/landing_image.png"
                  alt=""
                  width="380"
                  height="380"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row q-col-gutter-lg flex flex-center q-mt-lg q-pa-sm">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="text-h4">Banco de palabras</div>
            <div class="text-subtitle1 col q-pt-lg">
              Hemos desarrollado un novedoso sistema de aprendizaje que se
              adapta a tus conocimientos y te ayuda a mejorar cada día. Entra
              ahora y pruébalo gratis.
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="flex flex-center">
              <img src="../assets/tuto1.png" alt="" width="380" height="380" />
            </div>
          </div>
        </div>

        <div class="row q-col-gutter-lg flex flex-center">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 mobile-hide">
            <div class="flex flex-center">
              <img src="../assets/tuto2.png" alt="" width="380" height="380" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="text-h4">Seguimiento individual</div>
            <div class="text-subtitle1 col q-pt-lg">
              Podrás añadir nuevas palabras y llevar el seguimiento de tus
              fallos y aciertos para optimizar el proceso de prendizaje.
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 desktop-hide">
            <div class="flex flex-center">
              <img src="../assets/tuto2.png" alt="" width="380" height="380" />
            </div>
          </div>
        </div>

        <div class="row q-col-gutter-lg flex flex-center">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="text-h4">Exámenes personalizados</div>
            <div class="text-subtitle1 col q-pt-lg">
              Nuestro algoritmo elabora automáticamente exámenes adaptados a tus
              resultados, para reforzar y potenciar tu aprendizaje.
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="flex flex-center">
              <img src="../assets/tuto3.png" alt="" width="380" height="" />
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-hide" style="height:100px"></div>
      <Footer class="q-mt-lg mobile-hide"></Footer>

      <div class="desktop-hide bg-image" style="height: 100vh">
        <div style="height: 60px"></div>
        <div class="row flex flex-center">
          <q-img src="../assets/logo_blanco.png" width="80%" alt="" />
          <div class="text-h5 text-weight-bolder text-white q-ma-md text-center">
            La memorización eficiente de palabras y reglas ortográficas es posible
          </div>
          <div class="text-white q-ma-md text-center text-weight-light" style="font-size: 18px;">
            Accede a nuestro sistema revolucionario
          </div>
        </div>
        <div style="height: 60px"></div>
        <div class="q-mt-sm row flex flex-center">
          <q-btn
            unelevated
            rounded
            class="column q-mt-lg"
            text-color="primary"
            style="width: 80%; height: 50px"
            color="white"
            @click="google"
            :disable="disableBtn"
          >
            <img
              src="../assets/google.png"
              width="13%"
              style="transform: translateX(-60%)"
            />
            <div style="transform: translateX(-5%)">Entrar con Gmail</div>
          </q-btn>
          <q-btn
            unelevated
            rounded
            flat
            class="column q-mt-sm"
            style="width: 80%; height: 50px"
            color="white"
            label="No tengo Gmail"
            @click="enterNow()"
            :disable="disableBtn"
          />
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { googleRegister } from "../utils/googleAuth";
import { firebaseAuth, provider } from "../boot/firebase";

export default {
  name: "PageIndex",
  data() {
    return {
      disableBtn: false,
      leftDrawerOpen: false,
    };
  },
  components: {
    Footer: () => import("components/Footer"),
    "toolbar-menu": require("src/components/ToolbarMenu.vue").default,
  },
  computed: {
    ...mapState("user", ["auth"]),
  },
  methods: {
    ...mapActions("user", ["addUser", "enableAuth"]),
    enterNow() {
      this.auth
        ? this.$router.push({ name: "home" })
        : this.$router.push({ name: "auth" });
    },
    google() {
      this.disableBtn = true;

      provider.setCustomParameters({
        prompt: "select_account",
      });

      firebaseAuth
        .auth()
        .signInWithPopup(provider)
        .then((res) => {
          googleRegister(res).then((info) => {
            this.addUser(info);
            this.enableAuth();
            this.disableBtn = false;
            this.$router.push({ name: "home" });
          });
        })
        .catch((error) => {
          this.$q.notify({
            type: "negative",
            message: "Error al conectarse con Google",
            timeout: 3000,
            position: "top",
          });
          this.disableBtn = false;
        });
    },
  },
};
</script>

<style>
.bg-image {
  background-image: url(../assets/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
</style>