<template>
  <q-layout view="hHh lpR fFf" style="height: 100vh">
    <login v-if="change" @change="handleChange" />
    <signup v-else @change="handleChange" />
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      change: true,
    };
  },
  components: {
    login: require("components/Login.vue").default,
    signup: require("src/components/Signup.vue").default,
  },
  methods: {
    handleChange() {
      this.change = !this.change;
    },
  },
};
</script>

<style>
.bg-gradient {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.bg-image {
  background-image: url("../assets/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-height: 520px) {
  .mar {
    margin-bottom: -5px;
  }

  h5 {
    margin-top: 4px;
    margin-bottom: -2px;
  }
}

@media (min-height: 560px) {
  .mar {
    margin-bottom: -5px;
  }

  h5 {
    margin-top: 5px;
    margin-bottom: 2px;
  }
}

@media (min-height: 640px) {
  .mar {
    margin-bottom: 4px;
  }
}

@media (min-height: 740px) {
  .mar {
    margin-bottom: 4px;
  }
}

@media (max-height: 790px) {
  .mar {
    margin-bottom: 4px;
  }

  h5 {
    margin-bottom: 20px;
  }
}

@media (min-height: 800px) {
  .mar {
    margin-bottom: 10px;
  }

  h5 {
    margin-bottom: 40px;
  }
}

@media (min-height: 820px) {
  .mar {
    margin-bottom: 10px;
  }

  h5 {
    margin-bottom: 30px;
  }
}

@media (min-height: 1024px) {
  .mar {
    margin-bottom: 40px;
  }
}

@media (min-height: 1024px) {
  .mar {
    margin-bottom: 50px;
  }

  h5 {
    margin-bottom: 60px;
  }
}

@media (min-height: 1366px) {
  .mar {
    margin-bottom: 60px;
  }
}
</style>