<template>
  <q-page padding>
    <modal-tutorial
      v-if="tutorial"
      @completed="completed"
      :active="tutorial"
      :btn="tutorialBtn"
    />
    <div class="row justify-center" v-if="!tutorial">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- <div class="row justify-center q-pt-md">
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 q-pa-md">
            <dir class="q-pt-lgv" align="center">
              <avatar-user class="mobile-only" size="150"></avatar-user>
              <avatar-user class="desktop-only" size="200"></avatar-user>
            </dir>
          </div>
        </div> -->

        <!-- Objetivo diario -->
        <div class="row flex flex-center" style="flex-direction: column">
          <h6 class="text-primary" style="margin: 10px">Objetivo Diario</h6>
          <q-circular-progress
            show-value
            class="text-primary cursor-pointer"
            :value="progress"
            size="140px"
            :thickness="0.1"
            color="primary"
            track-color="grey-4"
          >
            <div clickable @click="activeGoalModal = true" class="text-center">
              <q-icon
                v-if="objetivo"
                name="las la-spell-check"
                color="primary"
                class="col-12 q-mr-xs"
                size="md"
              />
              <div
                v-if="objetivo"
                class="col-12 text-center text-h6 text-black"
              >
                {{ `${current}/${standard}` }}
              </div>
              <div
                v-if="objetivo"
                class="col-12 text-center text-body1 text-grey-7"
              >
                palabras
              </div>
            </div>
            <div
              v-if="!objetivo"
              class="text-center text-h6"
              clickable
              @click="activeGoalModal = true"
            >
              <h6 style="font-size: 16px">Establecer objetivo</h6>
            </div>
          </q-circular-progress>
        </div>
        <!-- Objetivo diario -->

        <div class="row justify-center">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
            <search
              label="Buscar palabra"
              class="q-mb-lg"
              :rounded="true"
              :maxResults="5"
              :options="itemList"
              @search="search"
              @clickItem="clickItem"
            >
              <template v-slot:icon>
                <q-icon name="fa fa-search" size="15px" class="q-pl-lg" />
              </template>
            </search>

            <category-show></category-show>
          </div>
        </div>

        <!-- Boton Añadir nueva categoría -->
        <div class="row justify-center">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12 q-pa-sm q-gutter-sm"
            align="center"
          >
            <q-btn
              unelevated
              rounded
              color="grey-3"
              text-color="grey-9"
              icon="add"
              label="Añadir nueva categoría"
              size="md"
              style="height: 50px; width: 100%"
              @click="activeModalCategory()"
            />
          </div>
        </div>
        <!-- Boton Añadir nueva categoría -->

        <button-exam />
      </div>
    </div>

    <modal-add-category
      :active="activeCategory"
      @disabled-modal="disabledModalCategory"
    />

    <!-- modal_objetivo  -->
    <q-dialog v-model="activeGoalModal" persistent maximized>
      <q-card
        v-bind:style="
          $q.platform.is.desktop ? 'width: 550px; height: 320px' : ''
        "
        class="q-pa-md"
      >
        <q-bar class="bg-white">
          <q-space></q-space>
          <q-btn icon="close" flat round dense size="md" v-close-popup></q-btn>
        </q-bar>

        <!-- MODAL DIAS -->
        <!-- <div v-if="calculo == 1" class="q-ml-sm q-mr-sm">
          <div class="text-h5 text-weight-bold">
            ¿Cuántos días faltan para tu examen?
          </div>
          <div class="row q-mt-md q-col-gutter-sm">
            <div class="text-weight-bold">Cálculo aproximado</div>
          </div>
          <q-input class="q-mt-sm" outlined v-model="text" type="text" />
          <div class="row justify-center q-mb-lg q-mt-lg">
            <q-btn
              class="col-lg-5 col-md-5 col-xs-10 col-sm-10"
              unelevated
              rounded
              color="primary"
              size="md"
              style="height: 50px"
              label="Calcular objetivo"
              @click="calculo = 2"
            >
            </q-btn>
          </div>
        </div> -->

        <div class="q-ml-sm">
          <div class="text-h5 text-weight-bold">Cantidad de palabras</div>
          <div class="text-h4 text-primary q-pt-lg">
            {{ standard }}
          </div>
          <q-slider v-model="standard" :min="0" :max="500" color="primary" />

          <div class="row justify-center q-mb-lg q-mt-lg">
            <q-btn
              class="col-lg-5 col-md-5 col-xs-10 col-sm-10"
              unelevated
              rounded
              color="primary"
              size="md"
              style="height: 50px"
              label="Establecer objetivo"
              v-close-popup
              @click="setGoal"
            >
            </q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <!-- modal_objetivo -->
  </q-page>
</template>

<script>
import { LocalStorage } from "quasar";
import auth from "../helper/auth";
import searcher from "../helper/searcher";
import goals from "../helper/goals"

export default {
  name: "PanelUsuario",
  data() {
    return {
      activeCategory: false,
      itemList: [],
      tutorial: false,
      tutorialBtn: false,
      tutorialDB: null,
      objetivo: false,
      activeGoalModal: false,
      calculo: 1,
      current: 0,
      standard: 200,
      text: "",
      progress: 0
    };
  },
  components: {
    search: require("components/Search.vue").default,
    "avatar-user": require("components/AvatarUser.vue").default,
    "category-show": require("components/CategoryShow.vue").default,
    "button-exam": require("components/ButtonExam.vue").default,
    "modal-add-category": require("components/modal/ModalAddCategory.vue")
      .default,
    "modal-tutorial": require("components/modal/ModalTutorial.vue").default,
  },

  methods: {
    disabledModalCategory(e) {
      this.activeCategory = e;
    },
    activeModalCategory() {
      this.activeCategory = true;
    },

    completed(e) {
      this.tutorial = e;
    },

    async search(e) {
      this.itemList = [];
      if (e) {
        let res = await searcher.wordsAll(e);
        if (res != null && !res.data.empty) {
          this.itemList = [];
          res.data.forEach((item) =>
            this.itemList.push({
              id: item.id,
              label: item.word,
              category_id: item.category_id,
              category: item.name
            })
          );
        }
      }
    },

    clickItem(word) {
      this.$router.push({
        name: "word",
        params: {
          id: word.id,
          categoryId: word.category_id,
        },
      });
    },

    showTutorial() {
      this.tutorial = true;
    },

    async verifyTutorial(notif) {
      if (!this.tutorialDB) {
        let data = await auth.show();
        this.tutorialDB = data.data.confirm;
        setTimeout(() => {
          // Verifica la respuesta de la api
          if (this.tutorialDB) {
            notif({
              type: "positive",
              position: "top",
              timeout: 2000,
              message: "¡Completado!",
            });

            this.tutorialBtn = true;
            return;
          }
          // Se ejecuta de nuevo si la api responde null
          this.verifyTutorial(notif);
        }, 2000);
      }
    },
    async setGoal() {
      const goal = {
        total_words: this.standard,
      }

      const response = await goals.index()
      
      if(response.data.goal.length === 0){
        try{
          const response = await goals.store(goal)
          this.objetivo = true;
        } catch(err) {
          return console.log(err)
        }
      }

      if(response.data.goal.length > 0) {
        if(this.standard < this.current) {
           this.$q.notify({
            type: "warning",
            position: "top",
            message: "La cantidad de palabras debe ser mayor al total completado",
          });
          return this.getGoal()
        }
      
        try{
          console.log(goal)
          const response = await goals.store(goal)
          this.getGoal()
          this.objetivo = true;
        } catch(err) {
          return console.log(err)
        }
      }
    },

    async getGoal(){
      const response = await goals.index()

      if(response.data.goal.length > 0){
        this.standard = response.data.goal[0].total_words
        this.current = response.data.goal[0].total_success
        this.progress = (this.current * 100) / this.standard
        this.objetivo = true
      }
    },

  },
  created() {
    let userInfo = LocalStorage.getItem("userInfo");
    if (userInfo.tutorial == null) {
      this.showTutorial();

      const notif = this.$q.notify({
        type: "ongoing",
        position: "top",
        message: "Configurando usuario, por favor espere...",
      });

      this.verifyTutorial(notif);
    }

    this.getGoal()
  },
};
</script>

<style lang="sass">
.color-azul
  color: $primary
</style>