<template>
  <q-layout view="hHh lpR fFf" class="bg-white">
    <toolbar-menu v-if="auth"></toolbar-menu>

    <q-page>
    <!--<modal-tutorial
      v-if="tutorial"
      :active="tutorial"
    />-->

      <div class="">
        <div class="mobile-hide" style="height:50px"></div>
        <div class="row q-col-gutter-lg flex flex-center q-mt-lg q-pa-sm">
          <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
            <div class="q-mb-lg mobile-hide">
              <img src="../assets/logo3.png" alt="" width="350" height="" />
            </div>
            <div class="row items-center">
                <q-btn
                class="mobile-hide"
                unelevated
                size="25px"
                round
                color="grey-2"
                text-color="grey-6"
                icon="arrow_back"
                @click="$router.replace('/')"
                />
                <div class="text-h3 text-weight-bolder q-ml-md">Política de privacidad</div>
            </div>
            <div class="q-ma-md">
                <div class="text-h6 col q-pt-lg">
                  1. RESPONSABLE Y ENCARGADO
                </div>
                <div class="text-subtitle1 col q-pt-md">
                    <ul>
                      <li>Encargado de tratamiento: OBTENTUAPTO, S.L.</li>
                      <li>Contacto Responsable de tratamiento: info@alfaobravo.com</li>
                      <li>Delegado Protección de Datos: Alejandro Manuel López Garrido</li>
                      <li>Contacto Delegado Protección de Datos: garridoaml@gmail.com</li>
                      <li>Encargado de tratamiento: OBTENTUAPTO, S.L.</li>
                    </ul>
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Le informamos que estos datos serán tratados de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), la Ley Orgánica (ES) 15/1999 de 13 de diciembre (LOPD) y el Real Decreto (ES) 1720/2007 de 21 de diciembre (RDLOPD), por lo que se le facilita la siguiente información del tratamiento:
                </div>
                <div class="text-h6 col q-pt-lg">
                  2. FINALIDADES
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La correcta prestación del servicio, así como facilitar la formación de los usuarios en ortografía de cara a la superación de exámenes de oposiciones.
                </div>
                <div class="text-h6 col q-pt-lg">
                  3. CRITERIOS DE CONSERVACIÓN DE LOS DATOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Se conservarán mientras exista un interés mutuo para mantener el fin del tratamiento, así como el tiempo necesario para cumplir las obligaciones legales, siendo el plazo máximo 18 meses. Cuando ya no sea necesario para tal fin, se suprimirán con medidas de seguridad adecuadas para garantizar la destrucción de los datos que puedan identificar al usuario. El resto, serán guardados bajo seudónimo únicamente para fines estadísticos.
                </div>
                <div class="text-h6 col q-pt-lg">
                  4. LEGITIMACIÓN
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La base legal para el tratamiento de tus datos radica en:
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La ejecución de un contrato en relación con la finalidad indicada en el apartado 1 anterior. El consentimiento del usuario en relación con la finalidad indicada en los apartados 2 a 6 anteriores.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El cumplimiento de obligaciones legales aplicables a OBTÉNTUAPTO SL  para la finalidad indicada en el apartado 7.
                </div>
                <div class="text-h6 col q-pt-lg">
                  5. DESTINATARIOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Tus datos no serán cedidos para otras finalidades distintas a las anteriormente descritas, excepto por obligación legal. Asimismo, y con el cumplimiento de las medidas técnicas y organizativas necesarias, sin perjuicio de las obligaciones derivadas de la normativa vigente en materia de protección de datos, tus datos podrán ser accedidos por aquellos proveedores que prestan servicios a OBTENTUAPTO SL, tales como servicios de alojamiento de contenido, de mensajería instantánea, etc. OBTENTUAPTO SL  ha suscrito los correspondientes contratos de encargo de tratamiento con cada uno de los proveedores que prestan servicios con el objetivo de garantizar que dichos proveedores tratarán tus datos de conformidad con lo establecido en la legislación vigente.
                </div>
                <div class="text-h6 col q-pt-lg">
                  6. DERECHOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Derecho a retirar el consentimiento en cualquier momento.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Derecho de acceso, rectificación y supresión de sus datos y a la limitación u oposición a su tratamiento, así como a no aceptar la elaboración de perfiles ni la portabilidad de los datos. Derecho a presentar una reclamación ante la Autoridad de control (agpd.es) si considera que el tratamiento no se ajusta a la normativa vigente.
                </div>
                <div class="text-h6 col q-pt-lg">
                  7. DATOS DE CONTACTO PARA EJERCER SUS DERECHOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El interesado podrá ejercer sus derechos poniéndose en contacto con el Encargado de tratamiento enviando un email al Encargado de tratamiento o al Responsable de Tratamiento referidos en el apartado 1.
                </div>
            </div>
          </div>
        </div>
      </div>
      <Footer class="q-mt-lg mobile-hide"></Footer>
    </q-page>
  </q-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { googleRegister } from "../utils/googleAuth";
import { firebaseAuth, provider } from "../boot/firebase";

export default {
  name: "PageIndex",
  data() {
    return {
      disableBtn: false,
      leftDrawerOpen: false,
      tutorial: true,
    };
  },
  components: {
    Footer: () => import("components/Footer"),
    "toolbar-menu": require("src/components/ToolbarMenu.vue").default,
    "modal-tutorial": require("components/modal/ModalTutorial.vue").default,
  },
  computed: {
    ...mapState("user", ["auth"]),
  },
  methods: {
    ...mapActions("user", ["addUser", "enableAuth"]),
    enterNow() {
      this.auth
        ? this.$router.push({ name: "home" })
        : this.$router.push({ name: "auth" });
    },
    google() {
      this.disableBtn = true;

      provider.setCustomParameters({
        prompt: "select_account",
      });

      firebaseAuth
        .auth()
        .signInWithPopup(provider)
        .then((res) => {
          googleRegister(res).then((info) => {
            this.addUser(info);
            this.enableAuth();
            this.disableBtn = false;
            this.$router.push({ name: "home" });
          });
        })
        .catch((error) => {
          this.$q.notify({
            type: "negative",
            message: "Error al conectarse con Google",
            timeout: 3000,
            position: "top",
          });
          this.disableBtn = false;
        });
    },
  },
};
</script>

<style>
.bg-image {
  background-image: url(../assets/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
</style>