<template>
  <q-page>
    <q-layout class="bg-grey-2" padding>
      <div class="row justify-center">
        <div
          class="
            col-lg-8 col-md-12 col-sm-12 col-xs-12
            q-gutter-sm q-pl-md q-pr-md
          "
          style="margin-bottom: 100px"
        >
          <div v-show="showElements">
            <!-- Título -->
            <div class="q-mt-lg" align="center">
              <div class="text-h5">Resultado del examen</div>
            </div>
            <!-- Título -->

            <!-- Nota -->
            <div class="q-mt-lg" align="center">
              <div
                class="text-h3"
                :class="detailExam.total_score >= 5 ? `text-green` : `text-red`"
              >
                {{ detailExam.total_score }}
              </div>
            </div>
            <!-- Nota -->

            <!-- Resultados -->
            <div class="row justify-center q-gutter-md q-mt-md">
              <q-card flat class="bg-white col-3">
                <q-card-section>
                  <div class="row items-center">
                    <div class="col-12">
                      <div class="text-h5" align="center">
                        {{ detailExam.success }}
                      </div>
                    </div>
                    <div
                      class="col-12 text-subtitle1"
                      align="center"
                      style="transform: translateY(-10%)"
                    >
                      Aciertos
                    </div>
                  </div>
                </q-card-section>
              </q-card>
              <q-card flat class="bg-white col-3">
                <q-card-section>
                  <div class="row items-center">
                    <div class="col-12">
                      <div class="text-h5" align="center">
                        {{ detailExam.failure }}
                      </div>
                    </div>
                    <div
                      class="col-12 text-subtitle1"
                      align="center"
                      style="transform: translateY(-10%)"
                    >
                      Fallos
                    </div>
                  </div>
                </q-card-section>
              </q-card>
              <q-card flat class="bg-white col-3">
                <q-card-section>
                  <div class="row items-center">
                    <div class="col-12">
                      <div class="text-h5" align="center">
                        {{ detailExam.white }}
                      </div>
                    </div>
                    <div
                      class="col-12 text-subtitle1"
                      align="center"
                      style="transform: translateY(-10%)"
                    >
                      Blanco
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
            <!-- Resultados -->

            <div v-for="word in words" :key="word.number">
              <response-word
                :id="word.id"
                :number="word.number"
                :italic="word.italic"
                :word="word.word"
                :correct="word.correct"
                :answer="word.answer"
                :meaning="word.meaning"
                :note="word.note"
                :annotation="word.annotation"
                @modal-annotation="modalAnnotationWord"
                @modal-report="modalReport"
              />
            </div>

            <q-page-sticky position="bottom-right" :offset="[10, 10]">
              <q-fab
                v-model="fabButton"
                vertical-actions-align="right"
                color="primary"
                push
                icon="arrow_drop_up"
                direction="up"
              >
                <q-fab-action
                  label-position="left"
                  text-color="black"
                  color="white"
                  @click="onClickReturn"
                  icon="autorenew"
                  label="Repetir"
                />
                <q-fab-action
                  label-position="left"
                  color="primary"
                  @click="onClickNew"
                  icon="add"
                  label="Nuevo"
                />
              </q-fab>
            </q-page-sticky>
          </div>
        </div>
      </div>

      <modal-message
        :active="modalMessage"
        :message="messageModal"
        :btnNameAccept="btnNameAccept"
        :btnAccept="btnAccept"
        :btnNameCancel="btnNameCancel"
        :btnCancel="btnCancel"
        @accept-modal="acceptModal"
        @cancel-modal="cancelModal"
      />

      <modal-update-annotation
        :active="updateAnnotation"
        :annotation="annotation"
        type="update"
        @cancel-modal="disableformModalUpdateAnnotation"
        @accept-modal="aceptarformModalUpdateAnnotation"
      />

      <modal-annotation
        :active="modalAnnotation"
        @cancel-modal="disableModalAnnotation"
        @accept-modal="enableModalAnnotation"
      />

      <modal-report-word
        :active="modalReportWord"
        @cancel-modal="disableModalReportWord"
        @accept-modal="enableModalReportWord"
      />
    </q-layout>
  </q-page>
</template>

<script>
import exam from "../helper/exam";
import annotation from "../helper/annotation";
import goals from 'src/helper/goals';
export default {
  name: "HacerExamen",
  data() {
    return {
      fabButton: false,
      id: parseInt(this.$route.params.id, 10),
      detailExam: {},
      words: [],

      annotation: {},
      updateAnnotation: false,
      wordId: null,
      index: null,

      // var modal
      modalAnnotation: false,
      modalReportWord: false,

      // var modal
      showElements: false,
      typeError: null,
      messageModal: "message",
      modalMessage: false,
      btnNameAccept: "aceptar",
      btnAccept: true,
      btnNameCancel: "cancelar",
      btnCancel: false,
    };
  },
  components: {
    "modal-message": require("components/modal/ModalMessage.vue").default,
    "modal-report-word": require("components/modal/ModalReportWord.vue")
      .default,
    "modal-annotation": require("components/modal/ModalAnnotation.vue").default,
    "modal-update-annotation":
      require("components/modal/ModalUpdateAnnotation.vue").default,
    "response-word": require("components/ResponseWord.vue").default,
  },
  methods: {
    onClickNew() {
      this.$router.push({
        name: "exam-config",
        params: { categorySelectId: 0 },
      });
    },
    async onClickReturn() {
      try {
        await exam.reset(this.id);
      } catch (err) {
        console.log(err);
        return;
      }

      this.$router.push({
        name: "exam",
        params: { id: this.id },
      });
    },

    acceptModal(e) {
      this.modalMessage = false;

      if (this.typeError === "message_in_progress") {
        this.$router.push({
          name: "exam",
          params: { id: this.id },
        });
      }

      if (this.typeError === "message_not_found") {
        this.$router.push({
          name: "exam-config",
          params: { categorySelectId: 0 },
        });
      }
    },
    cancelModal(e) {
      this.modalMessage = false;

      this.$router.push({
        name: "home",
      });
    },

    modalAnnotationWord(e) {
      if (e.annotation != null) {
        this.updateAnnotation = true;
        this.annotation = { ...e.annotation };
        return;
      }

      if (e.annotation == null) {
        this.modalAnnotation = true;
        this.wordId = e.word;
        this.index = e.index;
      }
    },

    async aceptarformModalUpdateAnnotation(e) {
      try {
        this.$q.loading.show();
        await annotation.update(e.id, e.description);
        let findWord = this.words.find((word) => word.annotation.id == e.id);
        findWord.annotation = e;
        if(!e.description){
          findWord.annotation = null
        }
        this.$q.loading.hide();
        this.updateAnnotation = false;
      } catch (err) {
        console.log(err);
        this.$q.loading.hide();
        this.updateAnnotation = false;
      }
    },

    disableformModalUpdateAnnotation() {
      this.updateAnnotation = false;
    },

    modalReport(e) {
      this.modalReportWord = e;
    },

    disableModalAnnotation(e) {
      this.modalAnnotation = e;
    },
    async enableModalAnnotation(e) {
      try {
        this.$q.loading.show();
        let res = await annotation.store(this.wordId, e);
        let findWord = this.words.find((word) => word.id == this.wordId);
        findWord.annotation = res.data;
        this.$q.loading.hide();
        this.modalAnnotation = false;
      } catch (err) {
        console.log(err);
        this.$q.notify({
          message: "Ocurrió un error",
          position: "top",
          timeout: 2000,
          type: "negative",
        });
        this.words = [];
        this.show();
        this.$q.loading.hide();
        this.modalAnnotation = false;
      }
    },

    disableModalReportWord(e) {
      this.modalReportWord = e;
    },
    enableModalReportWord(e) {
      this.modalReportWord = e;
    },

    async show() {
      try {
        this.$q.loading.show();
        let res = await exam.showResponde(this.id);

        if (!res.data.error) {
          this.detailExam = res.data.detail_exam;

          res.data.words.forEach((word) => {
            this.words.push({
              id: word.id,
              word: word.word,
              meaning: word.meaning,
              note: word.note,
              number: word.number,
              italic: word.italic,
              correct: word.correct,
              answer: word.answer ? true : word.answer === null ? null : false,
              annotation: word.annotations ? word.annotations[0] : null,
            });
          });

          this.modalMessage = false;
          this.$q.loading.hide();
          this.showElements = true;

          this.updateGoal()
        } else {
          // message_in_progress, message_not_found, message_is_correcting
          this.$q.loading.hide();
          this.typeError = res.data.type;
          this.messageModal = res.data.error;
          this.modalMessage = true;

          if (this.typeError === "message_not_found") {
            this.messageModal += ", ¿desea crear uno nuevo?";
            this.btnNameAccept = "si";
            this.btnNameCancel = "no";
            this.btnAccept = true;
            this.btnCancel = true;
          }

          if (this.typeError === "message_in_progress") {
            this.messageModal += ", ¿desea continuar?";
            this.btnNameAccept = "si";
            this.btnNameCancel = "no";
            this.btnAccept = true;
            this.btnCancel = true;
          }

          if (this.typeError === "message_is_correcting") {
            this.btnAccept = false;
            (this.btnCancel = false),
              setTimeout(() => {
                this.show();
              }, 3000);
          }
        }
      } catch (error) {
        this.$q.loading.hide();
        console.log(error);
      }
    },

    async updateGoal(){
      const response = await goals.index()

      if(response.data.goal.length > 0){
        const updatedGoal = {
          total_success: response.data.goal[0].total_success + this.detailExam.success
        }

        try{
          const response = await goals.update(updatedGoal)
        } catch(err) {
          return console.log(err)
        }
      }
    }
  },
  created() {
    this.show();
  },
};
</script>