<template>
      <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        control-color="primary"
        navigation
        padding
        arrows
        height= "100vh"
        class="bg-white text-primary shadow-1 rounded-borders">
      
        <q-carousel-slide name="tuto1" class="col-lg-4 flex-center">
            <div class="mobile-hide" style="height: 40px;"></div>
            <div class="flex flex-center mobile-hide"><img src="../assets/tuto1.png" alt="" width="380"></div>
            <div class="flex flex-center desktop-hide q-mt-lg"><img src="../assets/tuto1.png" alt="" width="80%"></div>
            <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-h5 text-black text-center q-mt-lg">Banco de palabras</div>
            <div class="row q-mt-lg flex flex-center">
                <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-subtitle1 text-black"  align="center">Hemos desarrollado un novedoso sistema de aprendizaje que se adapta a tus conocimientos y te ayuda a mejorar cada día.</div>
            </div>
        </q-carousel-slide>

        <q-carousel-slide name="tuto2" class="col-lg-4 flex-center">
            <div class="mobile-hide" style="height: 40px;"></div>
            <div class="flex flex-center mobile-hide"><img src="../assets/tuto2.png" alt="" width="380"></div>
            <div class="flex flex-center desktop-hide q-mt-lg"><img src="../assets/tuto2.png" alt="" width="80%"></div>
            <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-h5 text-black text-center q-mt-lg">Seguimiento individual</div>
            <div class="row q-mt-lg flex flex-center">
                <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-subtitle1 text-black"  align="center">Podrás añadir nuevas palabras y llevar el seguimiento de tus fallos y aciertos para optimizar el proceso de prendizaje.</div>
            </div>
        </q-carousel-slide>

        <q-carousel-slide name="tuto3" class="col-lg-4 flex-center">
            <div class="mobile-hide" style="height: 40px;"></div>
            <div class="flex flex-center mobile-hide"><img src="../assets/tuto3.png" alt="" width="380"></div>
            <div class="flex flex-center desktop-hide q-mt-lg"><img src="../assets/tuto3.png" alt="" width="80%"></div>
            <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-h5 text-black text-center q-mt-lg">Exámenes personalizados</div>
            <div class="row q-mt-lg flex flex-center">
                <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12 text-subtitle1 text-black"  align="center">Nuestro algoritmo elabora automáticamente exámenes adaptados a tus resultados, para reforzar y potenciar tu aprendizaje.</div>
            </div>
            <div class="mobile-hide" style="height: 40px;"></div>
            <div align="center">
                <q-btn outline rounded color="primary" label="Empezar ahora" class="q-mt-lg" @click="$router.push('/usuario')" />
            </div>
        </q-carousel-slide>

      </q-carousel>
</template>

<script>
export default {
  data () {
    return {
      slide: 'tuto1',
      lorem: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.'
    }
  }
}
</script>

