<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- Cantidad Palabras -->
        <div class="row items-center q-mt-lg q-ml-lg" align="center">
          <div class="text-h5">{{ totalWords }} palabras</div>
          <q-btn
            class="q-ml-lg"
            size="md"
            flat
            round
            color="primary"
            icon="add"
            @click="addWord()"
          />
        </div>

        <!-- Listado de palabras -->
        <div class="q-pa-md q-mt-lg">
          <q-list separator>
            <q-infinite-scroll v-scroll="onScroll" @load="onLoad" :offset="250">
              <q-item clickable v-ripple v-for="word in list" :key="word.id">
                <!-- <q-item-section side>
                  <q-badge class="shadow-1" :class="word.correct ? 'bg-green-5' : 'bg-red-5'"/>
                </q-item-section> -->

                <q-item-section @click="select(word)" class="col">
                  <q-item-label>
                    <b class="text-body1" v-if="word.italic">
                      <i>{{ word.word }}</i>
                    </b>
                    <b v-else class="text-body1">
                      {{ word.word }}
                    </b>
                  </q-item-label>
                </q-item-section>

                <q-item-section top side class="col-auto">
                  <!--<q-btn
                    size="md"
                    flat
                    round
                    color="primary"
                    icon="edit"
                    @click="activeformUpdateModal(word)"
                    v-if="word.editable"
                  />-->
                </q-item-section>

                <q-item-section top side class="col-auto">
                  <q-btn
                    size="md"
                    flat
                    round
                    color="primary"
                    icon="las la-trash-alt"
                    @click="activeformDeleteModal(word.id)"
                    v-if="word.editable"
                  />
                </q-item-section>
              </q-item>

              <template v-slot:loading>
                <div class="row justify-center q-my-md">
                  <q-spinner-dots color="primary" size="40px" />
                </div>
              </template>
            </q-infinite-scroll>
          </q-list>
        </div>
      </div>
    </div>

    <modal-word
      :active="activeModalDelete"
      @disabled-modal="disableformDeleteModal"
      @aceptar-modal="aceptarformDeleteModal"
    />

    <modal-word
      type="update"
      :word="wordModal"
      :active="activeModalUpdate"
      @disabled-modal="disableformUpdateModal"
      @aceptar-modal="aceptarformUpdateModal"
    />
  </q-page>
</template>

<script>
import words from "../helper/word";
import { LocalStorage } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  name: "WordList",
  data() {
    return {
      items: [],
      activeModalDelete: false,
      activeModalUpdate: false,
      deleteWordId: "",
      wordModal: {},
      categoryId: this.$route.params.categoryId,
    };
  },
  components: {
    "modal-word": require("components/modal/ModalWord.vue").default,
  },

  computed: {
    ...mapState("words", [
      "words",
      "list",
      "scroll",
      "totalWords",
      "scrolled",
      "wordPosition",
    ]),
  },

  methods: {
    ...mapActions("words", [
      "setScroll",
      "loadWord",
      "addWordList",
      "setTotalWords",
      "setScrolled",
      "incrementPosition",
      "loadWordsList",
      "resetWords",
    ]),

    onScroll(position) {
      this.setScroll(position);
    },

    onLoad(index, done) {
      setTimeout(() => {
        if (this.list && this.words.length >= 50) {
          for (var i = 0; i < 50; i++) {
            this.addWordList(this.words[this.wordPosition]);
            this.incrementPosition();
          }
          if (done) {
            done();
          }
        } else if (this.words.length < 50 && this.list.length == 0) {
          this.loadWordsList(this.words);
          if (done) {
            done(true);
          }
        } else {
          if (done) {
            done(true);
          }
        }
      }, 2000);
    },

    addWord() {
      this.$router.push({
        name: "word-add",
        params: { categorySelectId: this.categoryId },
      });
    },

    activeformUpdateModal(word) {
      this.activeModalUpdate = true;
      this.wordModal = word;
    },
    disableformUpdateModal(e) {
      this.activeModalUpdate = e;
      this.wordModal = {};
    },
    aceptarformUpdateModal(e) {
      this.activeModalUpdate = false;
      this.updateWord(e.id);
    },

    activeformDeleteModal(id) {
      this.deleteWordId = id;
      this.activeModalDelete = true;
    },
    disableformDeleteModal(e) {
      this.activeModalDelete = e;
    },
    aceptarformDeleteModal(e) {
      this.activeModalDelete = false;
      this.destroyWord(this.deleteWordId);
    },

    async index() {
      try {
        this.items = [];
        let res = await words.index(this.categoryId);
        this.setTotalWords(res.data.total_words);

        res.data.detail_words.forEach((word) =>
          this.loadWord({
            id: word.id,
            word: word.word,
            // correct: word.word_incorrect_id >=1 ? false : true,
            meaning: word.meaning,
            editable: word.editable,
            deleting: word.deleting,
            italic: word.italic,
          })
        );
      } catch (error) {
        console.log(error);
      }
    },
    async updateWord(id) {
      try {
        this.$q.loading.show();
        let newWord = this.wordModal.newWord
          ? this.wordModal.newWord
          : this.wordModal.word;
        let res = await words.update(id, newWord, this.wordModal.meaning);
        this.wordModal = {};
        this.$q.loading.hide();
        this.resetWords();
        this.index();
        this.onLoad();
      } catch (error) {
        console.log(error);
      }
    },
    async destroyWord(id) {
      try {
        this.$q.loading.show();
        await words.delete(id);
        this.$q.loading.hide();
        this.resetWords();
        this.index();
        this.onLoad();
      } catch (error) {
        console.log(error);
      }
    },

    select(word) {
      this.$router.push({
        name: "word",
        params: {
          id: word.id,
          categoryId: this.categoryId,
        },
      });
    },
  },
  created() {
    if (this.words.length == 0) {
      this.index();
    }

    setTimeout(() => {
      if (this.scrolled == false && this.scroll > 0) {
        window.scrollTo(0, this.scroll);
      }
    }, 500);
  },
  destroyed() {
    this.setScrolled(false);
  },
};
</script>