<template>
  <q-page padding>
    <div class="row justify-center q-pl-md">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 q-col-gutter-md">
        <!-- Palabras -->
        <div class="row items-center justify-between q-mt-lg">
          <div>
            <div v-if="wordDetail.level === 1" class="text-h4">
              <div v-if="wordDetail.italic">
                <i>{{ wordDetail.word }}</i><q-avatar class="q-ml-md" size="24px" color="secondary" text-color="white">N1</q-avatar>
              </div>
              <div v-else>
                {{ wordDetail.word }}<q-avatar class="q-ml-md" size="24px" color="secondary" text-color="white">N1</q-avatar>
              </div>              
            </div>
            <div v-else class="text-h4">
              <div v-if="wordDetail.italic">
                <i>{{ wordDetail.word }}</i><q-avatar class="q-ml-md" size="24px" color="secondary" text-color="white">N2</q-avatar>
              </div>
              <div v-else>
                {{ wordDetail.word }}<q-avatar class="q-ml-md" size="24px" color="secondary" text-color="white">N2</q-avatar>
              </div> 
            </div>
          </div>

          <div>
            <q-btn
              size="md"
              flat
              round
              color="primary"
              icon="las la-trash-alt"
              :disabled="wordDetail.deleting ? false : true"
              @click="activeformModalWord(wordDetail.id)"
            />
          </div>
        </div>
        <!-- Palabras -->

        <!-- Definición -->
        <div class="row justify-between q-mt-lg bg-blue-1 q-pr-md" style="border-radius:10px;">
          <p style="white-space: pre-line;" v-html="wordDetail.meaning ? wordDetail.meaning :'Sin definición'"></p>
          <div>
            <!-- Mostrar este botón sólo si la palabra es del usuario -->
            <q-btn
              v-if="wordDetail.editable"
              size="md"
              flat
              round
              color="primary"
              icon="edit"
              style="transform: translateY(-20%)"
              @click="activeformModalDescripcion()"
            />
          </div>
        </div>
        <!-- Definición -->

        <!-- Lista de formas erróneas -->
        <div class="bg-blue-1 q-mt-lg q-pa-md" style="border-radius:10px;">
          <div class="row items-center justify-between">
            <div v-if="incorrectList" class="text-h6">Formas erróneas</div>
            <div v-if="incorrectList">
              <q-btn
                v-if="wordDetail.editable"
                size="md"
                flat
                round
                color="primary"
                icon="add"
                @click="activeformModalErronea()"
              />
            </div>
          </div>
          <div v-if="incorrectList" class="q-ma-sm q-col-gutter-md">
            <q-card
              flat
              class="row justify-between items-center bg-red q-mt-xs"
              v-for="wordIncorrect in wordDetail.wordsIncorrects"
              :key="wordIncorrect.id"
            >
            <div>
              <p class="text-white">
                <q-icon class="q-mr-sm" name="close" color="white" size="md" />
                <b v-if="wordIncorrect.italic">
                  <i>{{ capitalizingStrings(wordIncorrect.word) }}</i>
                </b>
                <b v-else>
                  {{ capitalizingStrings(wordIncorrect.word) }}
                </b>
              </p>
            </div>
            <div>
              <q-btn
                :disabled="wordIncorrect.deleting ? false : true"
                size="md"
                @click="activeformModalWord(wordIncorrect.incorrect_id)"
                flat
                icon="las la-trash-alt"
                color="white"
                style="transform: translateY(-20%)"
              />
            </div>
            </q-card>
          </div>
        </div>


        <!-- Formas erróneas -->

        <!-- Anotaciones -->
        <div class="bg-blue-1 q-mt-lg q-pa-md" style="border-radius:10px;">
          <div class="row items-center justify-between">
            <div class="text-h6">Anotaciones</div>
            <div>
              <q-btn
                v-if="annotations.length < 1"
                size="md"
                flat
                round
                color="primary"
                icon="add"
                @click="activeformModalAnnotation()"
              />
            </div>
          </div>
          <div v-if="annotations.length > 0" class="q-ma-sm q-col-gutter-md">
            <q-item
              v-ripple
              v-for="annotation in annotations"
              :key="annotation.id"
            >
              <q-item-section>
                <q-item-label>
                  <p v-html="annotation.description"></p>
                </q-item-label>
              </q-item-section>

              <q-item-section top side>
                <q-btn
                  size="md"
                  flat
                  color="blue"
                  icon="las la-edit"
                  @click="activeformModalUpdateAnnotation(annotation)"
                />
              </q-item-section>

              <q-item-section top side>
                <q-btn
                  size="md"
                  flat
                  color="red"
                  icon="las la-trash-alt"
                  @click="activeDeleteAnnotation(annotation)"
                />
              </q-item-section>
            </q-item>
          </div>          
          <div v-else>
             <q-item
            >
              <q-item-section>
                <q-item-label>
                  <p>No posee anotaciones</p>
                </q-item-label>
              </q-item-section>
             
            </q-item>
          </div>
        </div>
        <!-- Anotaciones -->

        <!-- Notas -->
        <div class="bg-blue-1 q-mt-lg q-pa-md" style="border-radius:10px;">
          <div class="row items-center justify-between">
            <div class="text-h6">Notas</div>
          </div>
          <div v-if="wordDetail.note !== null" class="q-ma-sm q-col-gutter-md">
            <q-item
            >
              <q-item-section>
                <q-item-label>
                  <p v-html="wordDetail.note"></p>
                </q-item-label>
              </q-item-section>
             
            </q-item>
          </div>
          <div v-else>
             <q-item
            >
              <q-item-section>
                <q-item-label>
                  <p>No posee notas</p>
                </q-item-label>
              </q-item-section>
             
            </q-item>
          </div>
        </div>
        <!-- Notas -->

        <!-- Guardar palabra -->
        <div class="row justify-center q-mt-lg q-mb-lg q-pr-md">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12 q-pa-sm q-gutter-sm"
            align="center"
          >
            <q-btn
              unelevated
              rounded
              color="primary"
              label="Guardar"
              size="md"
              style="height: 50px; width: 100%"
              @click="send()"
            />
          </div>
        </div>
        <!-- Guardar palabra -->

      </div>
    </div>
    
    <modal-descripcion
      :active="activeModalDescripcion"
      :descripcion="wordDetail.meaning"
      @cancel-modal="disableformModalDescripcion"
      @accept-modal="aceptarformModalDescripcion"
    />

    <modal-erronea
      :active="activeModalErronea"
      @cancel-modal="disableformModalErronea"
      @accept-modal="aceptarformModalErronea"
    />

    <modal-annotation
      :active="activeModalAnnotation"
      @cancel-modal="disableformModalAnnotation"
      @accept-modal="aceptarformModalAnnotation"
    />

    <modal-update-annotation
      :active="activeModalDeleteAnnotation"
      :annotation="annotation"
      @cancel-modal="disableModalDeleteAnnotation"
      @accept-modal="aceptarformModalDeleteAnnotation"
    />

    <modal-update-annotation
      :active="activeModalUpdateAnnotation"
      :annotation="annotation"
      type="update"
      @cancel-modal="disableformModalUpdateAnnotation"
      @accept-modal="aceptarformModalUpdateAnnotation"
    />

    <modal-word
      :active="activeModalWord"
      @disabled-modal="disableformModalWord"
      @aceptar-modal="aceptarformModalWord"
    />
  </q-page>
</template>

<script>
import words from "../helper/word";
import annotation from "../helper/annotation";
import searcher from "../helper/searcher";
import wordApi from "../helper/word";
export default {
  name: "Word",
  data() {
    return {
      wordId: parseInt(this.$route.params.id, 10),
      categoryId: parseInt(this.$route.params.categoryId, 10),
      wordDetail: {},
      deleteWordId: "",
      delete_word: false,
      modal_nota: false,
      activeModalDescripcion: false,
      activeModalErronea: false,
      activeModalAnnotation: false,
      activeModalUpdateAnnotation: false,
      activeModalDeleteAnnotation: false,
      activeModalWord: false,
      incorrectList: false,
      annotations: [],
      annotationDescription: "",
      annotation: {},
    };
  },
  components: {
    "modal-annotation": require("components/modal/ModalAnnotation.vue").default,
    "modal-erronea": require("components/modal/ModalErronea.vue").default,
    "modal-descripcion": require("components/modal/ModalDescripcion.vue").default,
    "modal-update-annotation":
      require("components/modal/ModalUpdateAnnotation.vue").default,
    "modal-word": require("components/modal/ModalWord.vue").default,
  },
  methods: {
    capitalizingStrings(text) {
      return text.replace(/\w\S*/g, (w) =>
        w.replace(/^\w/, (c) => c.toUpperCase())
      );
    },

    activeformModalDescripcion() {
      this.activeModalDescripcion = true;
    },
    disableformModalDescripcion(e) {
      this.activeModalDescripcion = e;
    },
    async aceptarformModalDescripcion(descripcion) {
      try {
        console.log(descripcion)
        this.$q.loading.show();
        await wordApi.update(this.wordId,this.wordDetail.word,descripcion)
        this.$q.loading.hide();
        this.activeModalDescripcion = false;
        this.index();
      } catch (err) {
        console.log(err);
        this.$q.loading.hide();
        this.activeModalDescripcion = false;
      }
    },
    activeformModalErronea() {
      this.activeModalErronea = true;
    },
    disableformModalErronea(e) {
      this.activeModalErronea = e;
    },
    async aceptarformModalErronea(word,cursiva) {
      try {
        if(word!=null && word !=""){
          let res = await searcher.wordsCategoryIncorrect(
            word,
            this.categoryId
          );
          
          if (res != null && !res.data.empty) {
            this.$q.notify({
              type: "warning",
              message:
                "La forma errónea '"+word+"' ya se encuentra registrada con otra palabra.",
              timeout: 3000,
              position: "top",
              textColor: "white",
            });
            return;
          }
        }
        
        this.$q.loading.show();
        await wordApi.store(word, this.categoryId,this.wordId,  null,this.wordDetail.level, null, cursiva);
        this.$q.loading.hide();
        this.activeModalErronea = false;
        this.index();
      } catch (err) {
        console.log(err);
        this.$q.loading.hide();
        this.activeModalErronea = false;
      }
    },

    activeformModalAnnotation() {
      this.activeModalAnnotation = true;
    },
    disableformModalAnnotation(e) {
      this.activeModalAnnotation = e;
    },
    activeformModalUpdateAnnotation(annotation) {
      this.annotation = { ...annotation };
      this.activeModalUpdateAnnotation = true;
    },
    disableformModalUpdateAnnotation(e) {
      this.activeModalUpdateAnnotation = e;
    },
    async aceptarformModalAnnotation(e) {
      try {
        this.$q.loading.show();
        await annotation.store(this.wordId, e);
        this.$q.loading.hide();
        this.activeModalAnnotation = false;
        this.index();
      } catch (err) {
        console.log(err);
        this.$q.loading.hide();
        this.activeModalAnnotation = false;
      }
    },

    async aceptarformModalUpdateAnnotation(e) {
      try {
        this.$q.loading.show();
        await annotation.update(e.id, e.description);
        this.$q.loading.hide();
        this.activeModalUpdateAnnotation = false;
        this.index();
      } catch (err) {
        console.log(err);
        this.$q.loading.hide();
        this.activeModalUpdateAnnotation = false;
      }
    },

    activeDeleteAnnotation(annotation) {
      this.annotation = annotation;
      this.activeModalDeleteAnnotation = true;
    },

    disableModalDeleteAnnotation(e) {
      this.activeModalDeleteAnnotation = e;
    },

    aceptarformModalDeleteAnnotation(e) {
      this.activeModalDeleteAnnotation = false;
      this.destroyAnnotation(e.id);
    },

    activeformModalWord(id) {
      this.deleteWordId = id;
      this.activeModalWord = true;
    },
    disableformModalWord(e) {
      this.activeModalWord = e;
    },
    aceptarformModalWord(e) {
      this.destroyWord(this.deleteWordId);
      this.activeModalWord = false;
      if (this.deleteWordId === this.wordId) {
        this.$router.push({
          name: "word-list",
          params: { categoryId: this.categoryId },
        });
      }
    },

    async destroyWord(id) {
      try {
        this.$q.loading.show();
        let res = await words.delete(id);
        this.$q.loading.hide();
        this.index();
      } catch (error) {
        this.$q.loading.hide();
        console.log(error);
      }
    },

    async destroyAnnotation(id) {
      try {
        await annotation.delete(id);
        this.index();
      } catch (error) {
        console.log(error);
      }
    },
    async index() {
      this.$q.loading.show();
      try {
        let resAnnot = await annotation.index(this.wordId);
        this.annotations = resAnnot.data;
        let res = await words.show(this.wordId, this.categoryId);
        this.wordDetail = res.data;
        this.wordDetail.word = this.capitalizingStrings(this.wordDetail.word);
        if (this.wordDetail.wordsIncorrects.length > 0) {
          this.incorrectList = true;
        } else {
          this.incorrectList = false;
        }
        this.$q.loading.hide();
      } catch (error) {
        console.log(error);
        this.$q.loading.hide();
      }
    },
  },
  created() {
    this.index();
  },
};
</script>