<template>
  <div>
    <q-dialog v-model="active" persistent>
      <q-card style="width: 500px; max-width: 100vw" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Añadir categoría</div>
        </q-card-section>

        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col">
              <q-input
                outlined
                bottom-slots
                v-model="nameCategory"
                label="Nombre de la categoría"
              ></q-input>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="CANCELAR" color="Black" @click="shutDownModal()" />
          <q-btn flat label="ACEPTAR" color="primary" @click="store()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import category from "../../helper/category";
import bus from "../../helper/bus";
import { mapActions } from "vuex";
export default {
  name: "ModalAddCategory",
  data() {
    return {
      nameCategory: "",
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    ...mapActions("categories", ["loadCategories", "destroyCategories"]),
    shutDownModal() {
      this.$emit("disabled-modal", false);
    },
    async store() {
      try {
        this.$q.loading.show({ delay: 1000 });
        await category.store(this.nameCategory);
        this.$q.loading.hide();
        this.destroyCategories();
        this.getCategories();
        this.shutDownModal();
      } catch (error) {
        console.log(error);
      }
    },
    async getCategories() {
      this.$q.loading.show();
      let categories = await category.index();
      this.$q.loading.hide();
      this.loadCategories(categories.data);
    },
  },
};
</script>