<template>
  <div>
    <q-dialog v-model="active" persistent>
      <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Palabra errónea</div>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col">
              <q-input class="q-mt-md" v-model="word" q-input outlined type="text" label="Forma errónea"></q-input>

              <div class="row justify-between q-mt-sm img">
                <div>
                  <q-radio v-model="cursiva" val="0" label="Redonda" />
                  <q-radio v-model="cursiva" val="1" label="Cursiva" />
                </div>         
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="CANCELAR" color="black" @click="shutDownModal()" />
          <q-btn
            flat
            label="ACEPTAR"
            color="primary"
            @click="clickAceptarModal()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "ModalErronea",
  data() {
    return {
      word: "",
      cursiva: "0",
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("cancel-modal", false);
    },
    clickAceptarModal() {
      this.$emit("accept-modal", this.word,this.cursiva);
      this.text = "";
    },
  },
};
</script>