<template>
  <div>
    <q-dialog v-model="active" persistent>
      <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Anotación</div>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col">
              <q-input
                q-input
                outlined
                type="textarea"
                v-model="text"
                label="¿Hay alguna regla nemotécnica que te ayude a recordar esta palabra?"
              ></q-input>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="CANCELAR" color="black" @click="shutDownModal()" />
          <q-btn
            flat
            label="ACEPTAR"
            color="primary"
            @click="clickAceptarModal()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "ModalAnnotation",
  data() {
    return {
      text: "",
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("cancel-modal", false);
    },
    clickAceptarModal() {
      this.$emit("accept-modal", this.text);
      this.text = "";
    },
  },
};
</script>