<template>
  <div>
    <q-dialog v-model="active" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">{{ capitalizingStrings(title) }}</div>
        </q-card-section>

        <q-card-section class="row items-center">
          <span class="q-ml-sm">{{ capitalizingStrings(message) }}</span>
        </q-card-section>

        <q-card-section class="row items-center">
          <slot name="content"></slot>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn v-if="btnCancel" flat :label="btnNameCancel" color="primary" @click="cancel()"/>
          <q-btn v-if="btnAccept" flat :label="btnNameAccept" color="primary" @click="accept()"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'ModalMessage',
  data () {
    return {}
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    btnNameAccept: {
      type: String,
      default: 'aceptar'
    },
    btnAccept: {
      type: Boolean,
      default: true
    },
    btnNameCancel: {
      type: String,
      default: 'cancelar'
    },
    btnCancel: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: 'default'
    },
    title: {
      type: String,
      default: 'aviso'
    },
  },
  methods: {
    capitalizingStrings(text){
      return text.charAt(0).toUpperCase() + text.slice(1);
		},
    cancel() {
      this.$emit("cancel-modal", false);
    },
    accept() {
      this.$emit("accept-modal", false);
    },
  },
}
</script>
