<template>
  <div>
    <div v-if="type === 'delete'">
      <q-dialog v-model="active" persistent>
        <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
          <q-card-section>
            <div class="text-h6">Eliminar categoría</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            Al eliminar una categoría desaparecerá toda la información asociada
            a ésta. ¿Seguro de que quieres eliminarla?
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="ELIMINAR"
              color="primary"
              @click="clickAceptarModal()"
            />
            <q-btn
              flat
              label="CANCELAR"
              color="primary"
              @click="shutDownModal()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>

    <div v-else-if="type === 'update'">
      <q-dialog v-model="active" persistent>
        <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
          <q-card-section>
            <div class="text-h6">Editar categoría</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-pa-md">
              <div class="q-gutter-y-md column">
                <q-input
                  outlined
                  v-model="category.name"
                  label="Nombre actual"
                />
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="GUARDAR"
              color="primary"
              @click="clickSavedModal()"
            />
            <q-btn
              flat
              label="CANCELAR"
              color="primary"
              @click="shutDownModal()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalWord",
  data() {
    return {};
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: "delete",
    },
    category: {
      type: Object,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("disabled-modal", false);
    },
    clickAceptarModal() {
      this.$emit("aceptar-modal", true);
    },
    clickSavedModal() {
      this.$emit("aceptar-modal", this.category);
    },
  },
  created() {},
};
</script>