<template>

    <q-dialog v-model="active" persistent maximized v-bind:style="($q.platform.is.desktop)? 'width: 550px; height: 400px' : ''" class="q-pa-md">
      <q-card>
        <div class="row flex flex-center">
          
    <q-carousel
      v-model="slide"
      transition-prev="scale"
      transition-next="scale"
      swipeable
      animated
      control-color="primary"
      navigation
      padding
      arrows
      height="100vh"
      class="bg-white text-primary rounded-borders col-lg-6 col-md-6 col-xs-12 col-sm-12"
    >
      <q-carousel-slide name="tuto1" class="col-lg-4 flex-center">
        <div class="mobile-hide" style="height: 40px"></div>
        <div class="flex flex-center mobile-hide">
          <img src="../../assets/tuto2.png" alt="" width="300" />
        </div>
        <div class="flex flex-center desktop-hide q-mt-lg">
          <img src="../../assets/tuto2.png" alt="" width="80%" />
        </div>
        <div
          class="
            col-lg-5 col-md-4 col-xs-12 col-sm-12
            text-h5 text-black text-center
            q-mt-lg
          "
        >
          Exámenes personalizados
        </div>
        <div class="row q-mt-lg flex flex-center">
          <div
            class="
              col-lg-8 col-md-8 col-xs-12 col-sm-12
              text-subtitle1 text-black
            "
            align="center"
          >
            hemos desarrollado una herramienta que permite mejorar los resultados en aquellas palabras en las que cometes más errores. Nuestro algoritmo repetirá con mayor frecuencia las palabras más falladas de cada examen en los posteriores.
          </div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide name="tuto2" class="col-lg-4 flex-center">
        <div class="mobile-hide" style="height: 40px"></div>
        <div class="flex flex-center mobile-hide">
          <img src="../../assets/tuto1.png" alt="" width="300" />
        </div>
        <div class="flex flex-center desktop-hide q-mt-lg">
          <img src="../../assets/tuto1.png" alt="" width="80%" />
        </div>
        <div
          class="
            col-lg-5 col-md-4 col-xs-12 col-sm-12
            text-h5 text-black text-center
            q-mt-lg
          "
        >
          Comienza a usar reglas mnemotécnicas
        </div>
        <div class="row q-mt-lg flex flex-center">
          <div
            class="
              col-lg-5 col-md-4 col-xs-12 col-sm-12
              text-subtitle1 text-black
            "
            align="center"
          >
            Cada palabra incluye la posibilidad de incluir anotaciones y reglas mnemotécnicas para una memorización a largo plazo.
          </div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide name="tuto3" class="col-lg-4 flex-center">
        <div class="mobile-hide" style="height: 40px"></div>
        <div class="flex flex-center mobile-hide">
          <img src="../../assets/tuto2.png" alt="" width="300" />
        </div>
        <div class="flex flex-center desktop-hide q-mt-lg">
          <img src="../../assets/tuto2.png" alt="" width="80%" />
        </div>
        <div
          class="
            col-lg-5 col-md-4 col-xs-12 col-sm-12
            text-h5 text-black text-center
            q-mt-lg
          "
        >
          Banco de palabras editable
        </div>
        <div class="row q-mt-lg flex flex-center">
          <div
            class="
              col-lg-5 col-md-4 col-xs-12 col-sm-12
              text-subtitle1 text-black
            "
            align="center"
          >
            Disponemos de más de 15.000 palabras. Añade además todas las que se te ocurran, como si de tu diccionario personalizable se tratara, para luego practicarlas en los exámenes.
          </div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide name="tuto4" class="col-lg-4 flex-center">
        <div class="mobile-hide" style="height: 40px"></div>
        <div class="flex flex-center mobile-hide">
          <img src="../../assets/tuto3.png" alt="" width="300" />
        </div>
        <div class="flex flex-center desktop-hide q-mt-lg">
          <img src="../../assets/tuto3.png" alt="" width="80%" />
        </div>
        <div
          class="
            col-lg-5 col-md-4 col-xs-12 col-sm-12
            text-h5 text-black text-center
            q-mt-lg
          "
        >
          Evalúa tu aprendizaje
        </div>
        <div class="row q-mt-lg flex flex-center">
          <div
            class="
              col-lg-5 col-md-4 col-xs-12 col-sm-12
              text-subtitle1 text-black
            "
            align="center"
          >
            Todas nuestras palabras están divididas en varias categorías y dos niveles. Conoce en cada momento tu evolución y en donde debes enfocar tu aprendizaje.
          </div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide name="tuto5" class="col-lg-4 flex-center">
        <div class="mobile-hide" style="height: 40px"></div>
        <div class="flex flex-center mobile-hide q-mt-xl">
          <img src="../../assets/tuto4.png" alt="" width="380" />
        </div>
        <div class="flex flex-center desktop-hide q-mt-lg">
          <img src="../../assets/tuto4.png" alt="" width="130%" />
        </div>
        <div
          class="
            col-lg-5 col-md-4 col-xs-12 col-sm-12
            text-h5 text-black text-center
            q-mt-lg
          "
        >
          Marca tu objetivo
        </div>
        <div class="row q-mt-lg flex flex-center">
          <div
            class="
              col-lg-5 col-md-4 col-xs-12 col-sm-12
              text-subtitle1 text-black
            "
            align="center"
          >
            Entrena hasta lograr el objetivo marcado, ayúdate de nuestro contador de aciertos diario.
          </div>
        </div>
        <div class="mobile-hide" style="height: 40px"></div>
        <div align="center">
          <q-btn
            v-if="btn"
            outline
            rounded
            color="primary"
            label="Empezar ahora"
            class="q-mt-lg"
            @click="shutDownModal()"
          />
        </div>
      </q-carousel-slide>
    </q-carousel>
        </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data() {
    return {
      slide: "tuto1",
      lorem:
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.",
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    btn: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("completed", false);
    },
  },
};
</script>

