<template>
    <div>
        <div v-if="type === 'delete'">
            <q-dialog v-model="active" persistent>
                <q-card style="width: 600px; max-width: 100vw;" class="q-pa-md">
                    <q-card-section>
                        <div class="text-h6">Eliminar palabra</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none">
                        Al eliminar una palabra desaparecerá toda la información asociada a ésta. ¿Seguro de que quieres eliminarla?
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="ELIMINAR" color="primary" @click="clickAceptarModal()"/>
                        <q-btn flat label="CANCELAR" color="primary" @click="shutDownModal()"/>
                    </q-card-actions>
                </q-card>
            </q-dialog>
        </div>

        <div v-else-if="type === 'update'">
            <q-dialog v-model="active" persistent>
                <q-card style="width: 600px; max-width: 100vw;" class="q-pa-md">
                    <q-card-section>
                        <div class="text-h6">Editar palabra</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none">
                        Select word edit
                        <div class="q-pa-md">
                            <div class="q-gutter-y-md column">

                                <q-input :disable="true" outlined v-model="word.word" label="Palabra actual" />
                                <q-input requiere outlined v-model="word.newWord" label="Nueva palabra" />
                                <q-input q-input outlined type="textarea" v-model="word.meaning" label="Agrega definición"></q-input>
                            
                            </div>
                        </div>

                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="GUARDAR" color="primary" @click="clickSavedModal()"/>
                        <q-btn flat label="CANCELAR" color="primary" @click="shutDownModal()"/>
                    </q-card-actions>
                </q-card>
            </q-dialog>
        </div>
    </div>
</template>

<script>
export default {
    name: "ModalWord",
    data () {
        return {
        }
    },
    props: {
        active: {
            type: Boolean,
            default: false
        },
        type: {
            type: String,
            default: 'delete'
        },
        word: {
            type: Object,
            // default: {word: 'default', meaning: 'default', newWord: 'default'}
        },
    },
    methods:{
        shutDownModal(){
            this.$emit("disabled-modal", false)
        },
        clickAceptarModal(){
            this.$emit("aceptar-modal", true)
        },
        clickSavedModal(){
            this.$emit("aceptar-modal", this.word)
        },
    },
    created(){
    
    }
}
</script>