<template>
  <div>
    <q-dialog v-model="active" maximized>
      <q-card
        v-bind:style="
          $q.platform.is.desktop ? 'width: 800px; height: 550px;' : ''
        "
        class="q-pa-md"
      >
        <q-bar class="bg-white desktop hide">
          <q-space></q-space>
          <q-btn
            icon="close"
            flat
            round
            dense
            size="md"
            @click="shutDownModal()"
          ></q-btn>
        </q-bar>
        <q-card-section>
          <div class="text-h6" align="center">Hazte Premium</div>
        </q-card-section>

        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 mobile-hide">
              <center><img src="../../assets/corona.png" /></center>
              <div align="center" class="col text-h2 text-weight-bold">
                50€
              </div>
              <div align="center" class="">*Suscripción válida para un año</div>

              <div style="height: 30px"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
              <center>
                <img class="desktop-hide" src="../../assets/corona.png" />
              </center>
              <div class="row q-mt-md">
                <q-icon
                  class="col-auto"
                  name="check"
                  size="25px"
                  color="green"
                />
                <div class="col q-ml-md text-body1">
                  Un único pago, todas las ventajas.
                </div>
              </div>
              <div class="row q-mt-md">
                <q-icon
                  class="col-auto"
                  name="check"
                  size="25px"
                  color="green"
                />
                <div class="col q-ml-md text-body1">
                  Acceso ilimitado a todas las palabras y categorías.
                </div>
              </div>
              <div class="row q-mt-md">
                <q-icon
                  class="col-auto"
                  name="check"
                  size="25px"
                  color="green"
                />
                <div class="col q-ml-md text-body1">
                  Acceso también ilimitado a todas las reglas mnemotécnicas.
                </div>
              </div>
              <div class="row q-mt-md">
                <q-icon
                  class="col-auto"
                  name="check"
                  size="25px"
                  color="green"
                />
                <div class="col q-ml-md text-body1">
                  Posibilidad de añadir nuevas palabras, categorías y reglas
                  mnemotécnicas.
                </div>
              </div>
              <div
                align="center"
                class="col text-h2 text-weight-bold desktop-hide q-mt-xl"
              >
                50€
              </div>
              <div align="center" class="desktop-hide">
                *Suscripción válida para un año
              </div>
            </div>
          </div>
        </q-card-section>

        <div class="row justify-center q-mb-lg q-mt-lg">
          <q-btn
            class="col-lg-5 col-md-5 col-xs-10 col-sm-10"
            unelevated
            rounded
            color="primary"
            size="md"
            style="height: 50px"
          >
            <a
              href="https://buy.stripe.com/28odUU3ywgPQdeE4gi"
              target="_blank"
              style="text-decoration: none"
            >
              <div class="text-white">Contratar Premium</div>
            </a>
          </q-btn>
        </div>

        <!--<q-card-actions align="right">
                <q-btn flat label="CANCELAR" color="Black" @click="shutDownModal()" />
                <q-btn flat label="ACEPTAR" color="primary" @click="shutDownModal()" />
              </q-card-actions>-->
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "ModalPay",
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("disabled-modal", false);
    },
  },
};
</script>