<template>
  <div>
    <q-dialog v-model="active">
      <q-card style="width: 500px; max-width: 100vw;" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Reportar palabra</div>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col">
              <q-input outlined type="textarea" v-model="text" label="Error encontrado"/>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="ACEPTAR" color="primary" @click="clickAceptarModal()"/>
          <q-btn flat label="CANCELAR" color="primary" @click="shutDownModal()"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'ModalReportWord',
    data () {
      return {
        text: '',
      }
    },
    props: {
      active: {
        type: Boolean,
        default: false
      },
    },
    methods: {
      shutDownModal(){
        this.$emit("cancel-modal", false)
      },
      clickAceptarModal(){
        this.$emit("accept-modal", this.text)
      },
    },
}
</script>
