<template>
  <div>
    <q-dialog v-model="active" persistent>
      <q-card style="width: 500px; max-width: 100vw" class="q-pa-md">
        <q-card-section>
          <div v-if="!create" class="text-h6">Cambiar contraseña</div>
          <div v-if="create" class="text-h6">Crear contraseña</div>
        </q-card-section>

        <q-card-section>
          <div class="row q-col-gutter-md">
            <q-form class="col">
              <div class="row">
                <div v-if="!create" class="col-lg-12 col-md-12 col-xs-12">
                  <q-input
                    required
                    v-model="formData.actual_password"
                    class="q-mb-lg q-px-md mar"
                    type="password"
                    label="Contraseña actual"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <q-input
                    required
                    ref="password"
                    v-model="formData.password"
                    class="q-mb-lg q-px-md mar"
                    type="password"
                    label="Nueva contraseña"
                    id="pass1"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <q-input
                    required
                    v-model="formData.password_confirmation"
                    class="q-mb-lg q-px-md mar"
                    type="password"
                    label="Confimar Contraseña"
                    id="pass2"
                  />
                </div>
              </div>
            </q-form>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="CANCELAR" color="Black" @click="shutDownModal()" />
          <q-btn
            v-if="!create"
            flat
            label="Actualizar"
            class="text-primary"
            @click="submitForm"
          />
          <q-btn
            v-if="create"
            flat
            label="Crear"
            class="text-primary"
            @click="submitForm"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import auth from "../../helper/auth";

export default {
  name: "ModalPassword",
  data() {
    return {
      formData: {
        actual_password: "",
        password: "",
        password_confirmation: "",
      },
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    create: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("disable-modal", false);
    },

    changeBtn() {
      this.$emit("change-btn", true);
    },

    verifyPassword() {
      if (!this.create) {
        if (this.formData.actual_password == "") {
          this.$q.notify({
            type: "negative",
            message: "Ingrese su contraseña actual",
            timeout: 3000,
            position: "top",
          });

          return false;
        }
      }

      if (this.formData.password != this.formData.password_confirmation) {
        this.$q.notify({
          type: "negative",
          message: "La contraseñas no coinciden",
          timeout: 3000,
          position: "top",
        });
        this.formData.password = "";
        this.formData.password_confirmation = "";
        this.$refs.password.focus();
        return false;
      }
      return true;
    },
    async passwordReset() {
      const notif = this.$q.notify({
        type: "ongoing",
        message: "Por favor espere...",
        position: "top",
      });
      try {
        await auth.passwordReset(this.formData);
        notif({
          type: "positive",
          message: "¡Contraseña actualizada!",
          timeout: 3000,
          position: "top",
        });
        this.shutDownModal();
        if (this.create) {
          this.changeBtn();
        }
      } catch (error) {
        notif({
          type: "negative",
          message: error.response.data.error,
          timeout: 3000,
          position: "top",
        });
      }
    },

    submitForm() {
      if (!this.verifyPassword()) return;

      this.passwordReset();
    },
  },
};
</script>