<template>
  <div>
    <div v-if="type === 'delete'">
      <q-dialog v-model="active" persistent>
        <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
          <q-card-section>
            <div class="text-h6">Eliminar anotación</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            ¿Estás seguro de eliminar esta anotación?
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="ELIMINAR"
              color="primary"
              @click="clickAceptarModal()"
            />
            <q-btn
              flat
              label="CANCELAR"
              color="primary"
              @click="shutDownModal()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>

    <div v-else-if="type === 'update'">
      <q-dialog v-model="active" persistent>
        <q-card style="width: 600px; max-width: 100vw" class="q-pa-md">
          <q-card-section>
            <div class="text-h6">Editar anotación</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-pa-md">
              <div class="q-gutter-y-md column">
                <q-input
                  type="textarea"
                  outlined
                  v-model="annotation.description"
                />
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="CANCELAR"
              color="black"
              @click="shutDownModal()"
            />
            <q-btn
              flat
              label="GUARDAR"
              color="primary"
              @click="clickSavedModal()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalUpdateAnnotation",
  data() {
    return {};
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: "delete",
    },
    annotation: {
      type: Object,
    },
  },
  methods: {
    shutDownModal() {
      this.$emit("cancel-modal", false);
    },
    clickAceptarModal() {
      this.$emit("accept-modal", this.annotation);
    },
    clickSavedModal() {
      this.$emit("accept-modal", this.annotation);
    },
  },
  created() {},
};
</script>