<template>
  <div>
    <q-avatar :size="size + 'px'">
      <img v-if="user.img" :src="user.img" />
      <img class="rounded bg-white" v-else src="../assets/user.png" />
    </q-avatar>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {};
  },
  props: {
    size: {
      type: String,
      default: 100,
    },
  },
  computed: {
    ...mapState("user", ["user"]),
  },
};
</script>