<template>
  <div>
    <div class="row justify-center">
      <div
        class="col-lg-6 col-md-6 col-sm-6 col-xs-12 q-pa-sm q-gutter-sm"
        align="center"
      >
        <q-btn
          unelevated
          rounded
          color="primary"
          label="Hacer examen"
          size="md"
          style="height: 50px; width: 100%"
          :disabled="disabledBtn"
          @click="selectBtn"
        />
      </div>
    </div>
    <modal-message
      :active="modalMessage"
      :message="messageModal"
      :btnAccept="btnAccept"
      @accept-modal="acceptModal"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import bus from "../helper/bus";
import exam from "../helper/exam";
export default {
  name: "ButtonExam",
  data() {
    return {
      arrayCategoryId: [],
      arrayLevels: [],
      valueSelectWord: "",
      valueSelectTime: "",
      messageModal: "message",
      modalMessage: false,
      btnAccept: true,
    };
  },
  components: {
    "modal-message": require("components/modal/ModalMessage.vue").default,
  },
  props: {
    categoryId: {
      type: Number,
      default: 0,
    },
    activateExam: {
      type: Boolean,
      default: false,
    },
    disabledBtn: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState("categories", ["categories"]),
  },
  methods: {
    acceptModal(e) {
      this.modalMessage = e;
    },
    validator() {
      let str = "por favor completar: ";
      let items = [];

      if (this.arrayCategoryId.length == 0) items.push("categorias");
      if (this.valueSelectWord == "") items.push("cantidad de palabras");
      if (this.valueSelectTime == "") items.push("tiempo del examen");
      if (this.arrayLevels.length == 0) items.push("nivel");

      let loop = items.length;

      for (let i = 0; i < loop; i++) {
        if (i == loop - 1) {
          str += items[i];
        } else {
          str += items[i] + ", ";
        }
      }

      if (items.length > 0) return str;

      if (this.getTotalWords() < this.valueSelectWord) {
        return "Las categorías seleccionadas no cuentan con la cantidad suficiente de palabras.";
      }

      return true;
    },

    selectBtn() {
      if (!this.activateExam) {
        this.$router.push({
          name: "exam-config",
          params: {
            categorySelectId: this.categoryId,
          },
        });
      } else {
        this.send();
      }
    },

    async send() {
      let val = this.validator();
      this.modalMessage = true;
      this.messageModal = val;
      this.btnAccept = true;

      if (val == true) {
        this.btnAccept = false;
        this.messageModal = "creando examen por favor espere";

        try {
          let res = await exam.store(
            this.valueSelectWord.toString(),
            this.valueSelectTime,
            this.arrayCategoryId,
            this.arrayLevels
          );

          setTimeout(() => {
            if (!res.data.error) {
              this.$router.push({
                name: "exam",
                params: {
                  id: res.data.id,
                },
              });
            }
          }, 3000);
        } catch (error) {
          this.btnAccept = true;
          this.messageModal = "Ocurrió un error al crear el examen";
          console.log(error);
        }
      }
    },
    getTotalWords() {
      let totalWords = 0;
      let categoriesFilter = this.categories.filter(
        (category) => category.select == true
      );
      categoriesFilter.forEach((category) => {
        totalWords += category.totalWords;
      });
      return totalWords;
    },
  },
  created() {
    if (this.categoryId > 0) {
      this.arrayCategoryId.push(this.categoryId);
    }

    bus.$on("valueSelect", (select, type) => {
      if (type === "Word") {
        this.valueSelectWord = select;
      }
      if (type === "Time") {
        this.valueSelectTime = select;
      }
    });

    bus.$on("arrayCategoryId", (category) => {
      if (!this.arrayCategoryId.find((element) => element == category.id)) {
        this.arrayCategoryId.push(category.id);
      } else {
        this.arrayCategoryId.splice(
          this.arrayCategoryId.indexOf(category.id),
          1
        );
      }
    });

    bus.$on("arrayLevels", (levels) => {
      this.arrayLevels = levels;
    });
  },
};
</script>