<template>
  <!-- listado de categorias -->
  <div>
    <div
      class="q-pt-sm"
      v-for="category in getAllCategories"
      :key="category.id"
      @click="selectItem(category)"
    >
      <q-card
        flat
        class="bg-grey-2"
        v-if="
          (!category.locked && category.totalWords >= 20) || typeList === 'knob'
        "
      >
        <div v-ripple class="cursor-pointer relative-position">
          <q-card-section @click="selectCategory(category, true)">
            <div class="row items-center no-wrap">
              <div class="col q-ml-md">
                <div class="text-h5">{{ category.name }}</div>
              </div>

              <div v-if="typeList == 'knob'" class="col-auto">
                <q-knob
                  v-if="!category.locked"
                  readonly
                  v-model="category.percentage"
                  show-value
                  size="55px"
                  :thickness="0.2"
                  color="primary"
                  track-color="grey-4"
                  class="text-black"
                />
                <div v-else class="q-ma-sm">
                  <q-icon
                    name="las la-lock"
                    color="grey-5"
                    style="font-size: 3em"
                  />
                </div>
              </div>

              <div bg-dark v-else class="col-auto">
                <q-checkbox
                  v-model="category.select"
                  :val="category"
                  @click.native="selectCategory(category)"
                />
              </div>
            </div>
          </q-card-section>
        </div>
      </q-card>
    </div>

    <modal-pay :active="showModal" @disabled-modal="disabledModalPay" />
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import category from "../helper/category";

import bus from "../helper/bus";
export default {
  name: "CategoryShow",
  data() {
    return {
      showModal: false,
      value: null,
    };
  },
  props: {
    typeList: {
      type: String,
      default: "knob", // 'checkbox', 'knob'
    },
    categorySelectId: {
      type: Number,
      default: 0,
    },
  },
  components: {
    "modal-pay": require("components/modal/ModalPay.vue").default,
  },
  computed: {
    ...mapState("categories", ["categories"]),
    ...mapGetters("categories", ["getAllCategories"]),
  },
  methods: {
    ...mapActions("categories", [
      "loadCategories",
      "setCategoryStatus",
      "changeStatusToTrue",
      "destroyCategories",
    ]),

    async index() {
      this.$emit("loading-component", true);
      if (this.categories.length == 0) {
        await this.getCategories();
      }
      this.findCategory();
    },
    async getCategories() {
      this.$q.loading.show({ delay: 1000 });
      let categories = await category.index();
      this.$q.loading.hide();
      this.loadCategories(categories.data);
    },
    disabledModalPay(e) {
      this.showModal = e;
    },
    activeModal() {
      this.showModal = true;
    },
    selectItem(category) {
      if (this.typeList != "knob") return;
      if (!category.locked) {
        this.$router.push({
          name: "category-show",
          params: {
            id: category.id,
          },
        });
      } else {
        this.activeModal();
      }
    },
    findCategory() {
      if (this.typeList === "checkbox" && this.categorySelectId != 0) {
        for (var i in this.categories) {
          if (this.categories[i].id == this.categorySelectId) {
            this.changeStatusToTrue(this.categorySelectId);
            bus.$emit("arrayCategoryId", this.categories[i]);
            break;
          }
        }
      }
    },
    selectCategory(category, outside) {
      if (this.typeList == "knob") return;
      if (outside) {
        category.select = !category.select;
      }
      bus.$emit("arrayCategoryId", category);
    },
  },
  created() {
    if (this.categorySelectId == 0) {
      this.setCategoryStatus();
    }
    this.index();

    bus.$on("reload-categories", () => {
      this.destroyCategories();
      this.getCategories();
    });
  },
  beforeCreate() {
    this.$emit("loading-component", false);
  },
};
</script>