<template>
  <div>
    <q-separator class="q-mb-md" />
    <div class="row q-py-md q-px-xl">
      <!-- Logo + descripción -->
      <div class="col-md-3 col-xs-12 q-py-md">
        <a href="/"><img src="../assets/logo.png" alt="" width="70%"/></a>
        <div class="text-caption about">
          La memorización eficiente de palabras y reglas ortográficas es posible.
        </div>
      </div>

      <!-- Logos - Social Media -->
      <div class="col-md-9 col-xs-12">
        <div class="row q-py-sm justify-end">
          <q-btn flat>
            <a href="https://www.linkedin.com/company/alfaobravo/" target="_blank"
              ><img src="../assets/linkedin.svg" class="social"
            /></a>
          </q-btn>

          <q-btn flat>
            <a href="https://www.facebook.com/alfaobravo/" target="_blank"
              ><img src="../assets/facebook.svg" class="social"
            /></a>
          </q-btn>

          <q-btn flat>
            <a href="https://twitter.com/alfaobravo/" target="_blank"
              ><img src="../assets/twitter.svg" class="social"
            /></a>
          </q-btn>

          <q-btn flat>
            <a href="https://www.instagram.com/alfaobravo/" target="_blank"
              ><img src="../assets/instagram.svg" class="social"
            /></a>
          </q-btn>
        </div>
      </div>
    </div>

    <!-- Políticas -->
    <div class="row q-py-lg q-px-xl">
      <div class="text-capiton q-pr-lg">
        © 2022 ALFAOBRAVO SL.
      </div>
      <div>
        <a
          href="/terminos"
          class="my-item text-subtitle2 text-weight-light q-pr-lg"
          >Términos y condiciones del servicio</a
        >
      </div>
      <div>
        <a
          href="/politica"
          class="my-item text-subtitle2 text-weight-light q-pr-lg"
          >Política de privacidad</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
    };
  },
};
</script>

<style lang="scss">
.logo {
  width: 110px;
  height: 35px;
}

.q-footer {
  background-color: white;
  color: black;
}

.list1 {
  list-style: none;
  padding-left: 0;
}

.social {
  width: 24px;
}
.my-item:nth-child(n) {
color:#424242;
text-decoration: none;
}
.my-item:hover {
color: #5FC6EE;
}
</style>