<template>
  <div class="h-100">
    <q-page class="row">

      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 bg-image mobile-hide">
        <div style="height: 80px;"></div>
        <div class="q-ml-lg">
          <img class="q-ml-lg" src="../assets/logo_blanco2.png" width="200" />
          <div class="text-h5 text-white text-weight-bold q-ml-lg q-mt-lg q-pr-lg">
            La memorización eficiente de palabras y reglas ortográficas es posible
          </div>
          <div class="text-subtitle1 text-white q-ml-lg q-mt-xl q-pr-lg">
            Hemos desarrollado un novedoso sistema de aprendizaje que se adapta a tus conocimientos y te ayuda a mejorar cada día. Entra ahora y pruébalo gratis.
          </div>
          <div class="row items-center flex flex-center q-mt-xl text-center">
            <q-btn
              flat
              size="45px"
              round
              color="white"
              icon="play_circle_outline"
              @click="tuto_video = true"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
        <div class="mobile-hide" style="height: 120px;"></div>
        <div class="desktop-hide" style="height: 40px;"></div>
        <div class="flex flex-center desktop-hide q-mb-xl">
          <img src="../assets/logo3.png" alt="" width="70%" height="" />
        </div>
        <q-form @submit="submitForm">
          <div class="cuadroRegistro">
            <div class="q-pa-md">
              <div class="row">
                <div class="col text-center">
                  <span class="text-h5 text-weight-bold">Iniciar sesión</span>
                </div>
              </div>
              <div class="row flex flex-center">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <div class="row flex flex-center">
                    <q-btn
                      rounded
                      class="column q-mt-lg"
                      style="width: 80%; height: 60px"
                      color="white"
                      @click="google()"
                      :disable="disableBtn"
                    >
                      <img
                        src="../assets/google.png"
                        width="13%"
                        style="transform: translateX(-60%)"
                      />
                      <div class="text-black" style="transform: translateX(-5%)">Entrar con Gmail</div>
                    </q-btn>
                  </div>
                    <q-form @submit="submitForm" class="q-mt-xl">
                      <q-input
                        outlined
                        required
                        ref="email"
                        v-model="formData.email"
                        class="q-mb-lg q-px-md"
                        type="email"
                        placeholder="Correo electronico"
                        ><template v-slot:prepend>
                          <q-icon name="email" /> </template
                      ></q-input>
                      <q-input
                        outlined
                        required
                        ref="password"
                        v-model="formData.password"
                        class="q-mb-xl q-px-md"
                        type="password"
                        placeholder="Contraseña"
                        ><template v-slot:prepend>
                          <q-icon name="lock" /> </template
                      ></q-input>

                      <div class="row flex flex-center">
                        <q-btn
                          class="w-100 q-py-sm"
                          unelevated
                          rounded
                          color="primary"
                          label="Ingresar"
                          type="submit"
                          style="width: 60%;"
                          :disable="disableBtn"
                        />
                      </div>
                    </q-form>
                  <div class="text-center q-mt-lg">
                    <span>¿Eres nuevo/a en AlfaoBravo? </span>
                    <a
                      class="text-primary cursor-pointer"
                      style="text-decoration: none;"
                      @click="$emit('change')">
                      Regístrate ahora</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </div>

    <!-- Modal tutorial -->
    <q-dialog v-model="tuto_video">
      <q-card style="width: 750px; height: 450px;" class="q-pa-md">
        <q-bar class="bg-white">
          <q-space></q-space>
          <q-btn icon="close" flat round dense size="md" v-close-popup></q-btn>
        </q-bar>
        <q-card-section class="q-pt-none row flex-center">
          <iframe
            class="q-mt-md"
            width="530"
            height="315"
            src="https://www.youtube.com/embed/TSwQU8NQy7Y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- Modal tutorial -->

    </q-page>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { LocalStorage } from "quasar";
import auth from "../helper/auth";
import { googleRegister } from "../utils/googleAuth";
import { firebaseAuth, provider } from "../boot/firebase";

export default {
  data() {
    return {
      tuto_video: false,
      disableBtn: false,
      formData: {
      email: "",
      password: "",
      },
    };
  },
  computed: {
    ...mapState("categories", ["categories"]),
  },
  methods: {
    ...mapActions("user", ["addUser", "enableAuth", "disableAuth"]),

    async login() {
      this.disableBtn = true;
      const notif = this.$q.notify({
        type: "ongoing",
        message: "Por favor espere...",
        position: "top",
      });
      try {
        let res = await auth.login(this.formData);
        auth.setUserLogged(res.data.access_token);
        let user = await auth.show();
        this.enableAuth();

        let userData = {
          id: user.data.id,
          fullname: user.data.fullname,
          email: user.data.email,
          img: user.data.img,
          tutorial: user.data.confirm,
          country: user.data.country,
          country_id: user.data.country_id,
        };

        this.addUser(userData);
        LocalStorage.set("userInfo", userData);
        notif();
        this.disableBtn = false;
        this.$router.push({ name: "home" });
      } catch (error) {
        let err = null;

        if (error.response) {
          err = "Correo o contraseña incorrectos";
        }

        notif({
          type: "negative",
          message: err ? err : "Ocurrió un error",
          timeout: 1000,
          position: "top",
        });

        this.disableBtn = false;
      }
    },

    submitForm() {
      this.login();
    },

    google() {
      this.disableBtn = true;

      provider.setCustomParameters({
        prompt: "select_account",
      });

      firebaseAuth
        .auth()
        .signInWithPopup(provider)
        .then((res) => {
          googleRegister(res).then((info) => {
            this.addUser(info);
            this.enableAuth();
            this.disableBtn = false;
            this.$router.push({ name: "home" });
          });
        })
        .catch((error) => {
          this.$q.notify({
            type: "negative",
            message: "Error al conectarse con Google",
            timeout: 3000,
            position: "top",
          });
          this.disableBtn = false;
        });
    },
  },
};
</script>
