<template>
  <div>
    <q-btn round unelevated class="q-ma-sm">
      <q-icon color="primary" name="more_vert" />
      <q-menu>
        <q-list>
          <q-item v-ripple clickable v-close-popup @click="setting">
            <q-item-section avatar>
              <q-icon color="primary" name="settings" />
            </q-item-section>

            <q-item-section>
              <q-item-label>Configuración</q-item-label>
            </q-item-section>
          </q-item>

          <q-item v-ripple clickable v-close-popup @click="editProfile">
            <q-item-section avatar>
              <q-icon color="primary" name="person" />
            </q-item-section>

            <q-item-section>
              <q-item-label>Perfil</q-item-label>
            </q-item-section>
          </q-item>

          <q-item v-ripple clickable v-close-popup @click="logout">
            <q-item-section avatar>
              <q-icon color="primary" name="logout" />
            </q-item-section>

            <q-item-section>
              <q-item-label>Cerrar sesión</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>
  </div>
</template>

<script>
import { LocalStorage } from "quasar";
import { mapActions } from "vuex";
import auth from "../helper/auth";
import { firebaseAuth } from "boot/firebase";

export default {
  name: "MenuDropdown",
  data() {
    return {};
  },
  methods: {
    ...mapActions("user", ["destroyUser", "disableAuth"]),
    ...mapActions("categories", ["destroyCategories"]),

    logout() {
      firebaseAuth
        .auth()
        .signOut()
        .then(() => {
          console.log("Firebase logout");
        })
        .catch((error) => console.log("error", error));

      auth.logout();
      this.disableAuth();
      this.destroyUser();
      this.destroyCategories();
      LocalStorage.remove("userInfo");
      this.$router.push({ name: "welcome" });
    },
    setting() {
      this.$router.push({ name: "user-setting" });
    },
    editProfile() {
      this.$router.push({ name: "user-edit" });
    },
  },
};
</script>