<template>
  <div>
    <div class="row">
      <div v-if="italic" class="col text-subtitle1 q-mt-md" align="left">
        {{ number }}<i>{{ ".- " + capitalizingStrings(label) }}</i>
      </div>
      <div v-else class="col text-subtitle1 q-mt-md" align="left">
        {{ number + ".- " + capitalizingStrings(label) }}
      </div>
    </div>
    <div class="bg-white">
      <q-radio
        v-on:click.native="clickCorrect"
        v-model="value"
        :val="true"
        label="Correcto"
      />
    </div>
    <div class="bg-white">
      <q-radio
        v-on:click.native="clickIncorrect"
        v-model="value"
        :val="false"
        label="Incorrecto"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  data() {
    return {
      value: null,
      correctClicked: false,
      incorrectClicked: false,
    };
  },
  props: {
    italic: {
      type: Number,
      default: 0,
    },
    label: {
      type: String,
      default: "Word Default",
    },
    number: {
      type: Number,
      default: 0,
    },
    objWord: {
      type: Object,
    },
  },
  methods: {
    capitalizingStrings(text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },
    busSend() {
      this.$emit("response", this.objWord);
    },
    clickQuestion() {
      this.objWord.response = this.value;
      this.busSend();
    },
    clickCorrect() {
      if (this.correctClicked) {
        this.value = null;
        this.correctClicked = false;
        this.clickQuestion();
        return;
      }
      this.correctClicked = true;
      this.clickQuestion();
    },
    clickIncorrect() {
      if (this.incorrectClicked) {
        this.value = null;
        this.incorrectClicked = false;
        this.clickQuestion();
        return;
      }
      this.incorrectClicked = true;
      this.clickQuestion();
    },
  },
};
</script>
