<template>
  <div>
    <div class="row q-mt-lg">
      <div class="col text-subtitle1 q-mt-md" align="left">
        <b v-if="italic">
          {{ number }}<i>{{ ". " + capitalizingStrings(word) }}</i>
        </b>
        <b v-else>
          {{ number + ". " + capitalizingStrings(word) }}
        </b>
      </div>
      <q-btn
        size="md"
        flat
        round
        color="primary"
        icon="error_outline"
        @click="busModalReportWord"
      >
        <q-tooltip>Esta palabra contiene un error</q-tooltip>
      </q-btn>
    </div>

    <!-- Indicador correcto -->
    <q-chip
      class="q-pa-lg"
      style="width: 100%"
      v-bind:color="valueCorrect.color"
    >
      <q-avatar
        :icon="valueCorrect.icon"
        style="font-size: 3em"
        :text-color="valueCorrect.textColor"
      />
      <div v-bind:class="valueCorrect.class">correcto</div>
    </q-chip>

    <!-- Indicador incorrecto -->
    <q-chip
      class="q-pa-lg"
      style="width: 100%"
      v-bind:color="valueIncorrect.color"
    >
      <q-avatar
        :icon="valueIncorrect.icon"
        style="font-size: 3em"
        :text-color="valueIncorrect.textColor"
      />
      <div v-bind:class="valueIncorrect.class">Incorrecto</div>
    </q-chip>

    <div class="q-mt-lg q-pa-lg bg-green-1" style="border: 1px solid green">
      <div>
        <b v-if="meaning.italic" class="text-h6" :class="correct ? `text-blcak` : `text-green`">
          <i>{{
          capitalizingStrings(meaning.word_correct) + ". "
          }}
          </i>
        </b>
        <b v-if="!meaning.italic" class="text-h6" :class="correct ? `text-blcak` : `text-green`">{{
          capitalizingStrings(meaning.word_correct) + ". "
        }}</b>
        <div :class="textClass" style="white-space: pre-line;" v-html="meaning.word_meaning">
        </div>
        <q-btn
          v-if="showMore"
          unelevated
          flat
          :label="btnLabel"
          size="sm"
          color="green"
          class="btn"
          @click="reveal"
        />
      </div>
      <div v-if="note" class="q-mt-md">
        <b>Nota:</b>
        <div style="white-space: pre-line;" v-html="note"></div>
      </div>
      <div class="q-mt-md">
        <b>Anotación:</b>
        {{
          annotation
            ? annotation.description
            : "La palabra no contiene una anotación"
        }}.
      </div>
    </div>
    <q-btn
      unelevated
      round
      color="green"
      icon="edit"
      size="sm"
      style="transform: translateY(-90%); left: 90%"
      @click="busModalAnnotation()"
    />
  </div>
</template>

<script>
export default {
  name: "ResponseWord",
  data() {
    return {
      valueCorrect: {
        color: "white",
        class: "text-black",
        icon: "check",
        textColor: "white",
      },

      valueIncorrect: {
        color: "white",
        class: "text-black",
        icon: "check",
        textColor: "white",
      },
      showMore: false,
      textClass: "",
      btnLabel: "Mostrar más...",
    };
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
    word: {
      type: String,
      default: "Word default",
    },
    correct: {
      type: Boolean,
      default: true,
    },
    answer: {
      default: true,
    },
    meaning: {
      type: Object,
      default: { word_correct: "word correct", word_meaning: "meaning" },
    },
    note: {
      type: String
    },
    number: {
      type: Number,
      default: 0,
    },
    italic: {
      type: Number,
      default: 0,
    },
    annotation: {
      type: Object,
    },
  },
  methods: {
    capitalizingStrings(text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },

    busModalAnnotation() {
      this.$emit("modal-annotation", {
        annotation: this.annotation,
        word: this.id,
      });
    },
    busModalReportWord() {
      this.$emit("modal-report", true);
    },

    indicator() {
      if (this.correct && this.answer === null) {
        this.valueCorrect.class = "text-green";
        this.valueCorrect.textColor = "green";
        this.valueIncorrect.icon = "close";
        this.valueIncorrect.textColor = "black";
      }
      if (!this.correct && this.answer === null) {
        this.valueIncorrect.class = "text-green";
        this.valueIncorrect.textColor = "green";
        this.valueCorrect.icon = "close";
        this.valueCorrect.textColor = "black";
      }

      if (this.correct && this.answer === true) {
        this.valueCorrect.color = "green";
        this.valueCorrect.class = "text-white";
        this.valueIncorrect.icon = "close";
        this.valueIncorrect.textColor = "black";
      }
      if (this.correct && this.answer === false) {
        this.valueCorrect.textColor = "green";
        this.valueIncorrect.color = "red";
        this.valueIncorrect.icon = "close";
        this.valueIncorrect.class = "text-white";
      }
      if (!this.correct && this.answer === true) {
        this.valueIncorrect.textColor = "green";
        this.valueCorrect.color = "red";
        this.valueCorrect.icon = "close";
        this.valueCorrect.class = "text-white";
      }
      if (!this.correct && this.answer === false) {
        this.valueIncorrect.color = "green";
        this.valueIncorrect.class = "text-white";
        this.valueCorrect.icon = "close";
        this.valueCorrect.textColor = "black";
      }
    },
    reveal() {
      if (this.textClass == "text-contain") {
        this.textClass = "none";
        this.btnLabel = "Mostrar menos";
      } else {
        this.textClass = "text-contain";
        this.btnLabel = "Mostrar mas...";
      }
    },
  },
  created() {
    this.indicator();

    if (this.meaning.word_meaning.length > 200 && this.$q.platform.is.mobile) {
      this.showMore = true;
      this.textClass = "text-contain";
    } else {
      this.textClass = "none";
    }
  },
};
</script>

<style scoped>
.text-contain {
  height: 10vh;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-oriented: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  margin-left: -1rem;
}

.none {
}
</style>
