<template>
  <div>
    <q-input
      v-if="rounded"
      class="q-mt-md"
      ref="input"
      v-on:keyup="writing"
      type="search"
      outlined
      rounded
      v-model="input"
      :label="label"
      @click="clickInput()"
    >
      <template v-slot:prepend>
        <slot name="icon"></slot>
      </template>
    </q-input>

    <q-input
      v-else
      class="q-mt-md"
      ref="input"
      v-on:keyup="writing(correct)"
      type="search"
      outlined
      v-model="input"
      :label="label"
      @click="clickInput()"
    >
      <template v-slot:prepend>
        <slot name="icon"></slot>
      </template>
    </q-input>

    <q-menu
      v-model="activation"
      @show="setFocus()"
      fit
      anchor="bottom start"
      self="top start"
    >
      <q-list dense bordered>
        <div v-if="options.length > 0">
          <q-item
            v-for="item in optionsList"
            :key="item.id"
            v-ripple
            clickable
            v-close-popup
            @click="clickItem(item)"
          >
            <q-item-section v-if="options">
              <q-item-label>{{ item.label }} {{ item.category ? `- ${item.category}` : null}}</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <!-- <div v-else>
          <q-item
            v-ripple
            clickable
            v-close-popup
            @click="clickAdd()">

            <q-item-section avatar>
                <q-icon color="primary" name="add"/>
            </q-item-section>

            <q-item-section>
              <q-item-label>Añadir palabra nueva</q-item-label>
            </q-item-section>
          </q-item>
        </div> -->
      </q-list>
    </q-menu>
  </div>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      activation: false,
      input: "",
      optionsList: [],
    };
  },
  props: {
    label: {
      type: String,
      default: "Not label",
    },
    maxResults: {
      type: Number,
      default: 4,
    },
    options: {
      type: Array,
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    correct: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    autoResults() {
      setTimeout(() => {
        while (this.maxResults < this.options.length) {
          this.options.pop();
        }

        this.optionsList = this.options;
      }, 500);
    },
    setFocus() {
      this.$refs.input.focus();
    },
    clickItem(item) {
      this.activation = false;
      this.input = item.label;
      this.$emit("clickItem", item);
    },
    clickAdd() {
      this.$emit("clickAdd", this.input);
    },
    writing(correct) {
      this.activation = true;
      this.autoResults();
      this.$emit("search", { val: this.input, correct });
    },
    clickInput() {
      this.$emit("click");
    },
  },
  created() {},
};
</script>