<template>
  <div>
    <!-- Text Title -->
    <div class="q-ma-lg" align="center">
        <div class="text-h5">{{ title }}</div>
    </div>

    <div class="row justify-center q-gutter-md">

        <q-card flat class="bg-grey-2 col-3"
            v-for="obj in objs"
            :key="obj.id"
            @click="selectItem(obj.id)">

            <q-card-section>
                <div class="row items-center">
                    <div class="col">
                        <q-radio dense v-on:click.native="selectItem(obj.id)" v-model="obj.value" :val="obj.val"/>
                    </div>
                    <div class="col">
                        <div class="text-h5">{{ obj.text }}</div>
                    </div>
                </div>
            </q-card-section>
        </q-card>

    </div>

  </div>
</template>

<script>
import bus from '../helper/bus'
export default {
    name: 'SelectButton',
    data () {
        return {
        }
    },
    props: {
        title: {
            type: String,
            default: 'Title'
        },
        type: {
            type: String,
        },
        objs: {
            // type: Array
        }
    },
    methods: {
        selectItem(id){
            let obj1 = this.objs.find(element => element.id == id);
            obj1.value = obj1.val;
            bus.$emit('valueSelect', obj1.value, this.type);
            this.deleteObj(id);
        },

        deleteObj(id){
            let obj1 = this.objs.find(element => element.id == id);
            let obj2 = this.objs.find(element => element.id != obj1.id);
            let obj3 = this.objs.find(element => element.id != obj2.id && element.id != obj1.id);

            obj2.value = '';
            obj3.value = '';
        },

    }
}
</script>
