<template>
  <div class="my-fixed-item" @click="showtimer">
    <div class="timer text-h5">{{ labelTimer }}</div>
      <modal-message
        :active="modalMessage"
        title="temporizador"
        message="detalle del tiempo del examen"
        @accept-modal="acceptModal()">
        
        <template slot="content">
          <div class="row justify-center">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 q-gutter-sm q-pl-md q-pr-md">

              <div class="timer text-h6">Inicial</div>
              <div class="col text-subtitle1 q-mt-md" align="left">{{ time }}</div>

              <div class="timer text-h6">Transcurrido</div>
              <div class="col text-subtitle1 q-mt-md" align="left">{{ currentTime }}</div>

            </div>
          </div>
        </template>
      </modal-message>
  </div>
</template>

<script>
export default {
  name: 'Timer',
  data () {
    return {
      labelTimer: '00:00:00',
      currentTime: '00:00:00',

      currentHour: 0,
      currentMinute: 0,
      currentSecond: 0,

      hours: 0,
      minutes: 0,
      seconds:0,

      modalMessage: false,
    }
  },
  components: {
    'modal-message' : require('components/modal/ModalMessage.vue').default,
  },
  props: {
    stop: {
      type: Boolean,
      default: false
    },
    play: {
      type: Boolean,
      default: true
    },
    orderBy: {
      type: String,
      default: 'desc' // asc, desc
    },
    time: {
      type: String,
      default: '00:00:00'
    }
  },
  methods: {
    showtimer() {
      this.modalMessage = true;
    },
    acceptModal(e) {
      this.modalMessage = e;
    },

    timeOut(){
      this.$emit('timeOut', true);
    },

    decrement(){
      if (this.secondes == 0) {
          this.secondes = 60;
          this.minutes--;
      }
      this.secondes--;
      // if (this.minutes == 0) {
      //     this.minutes = 60;
      //     this.hours--;
      // }

      if (this.orderBy === 'desc') {
          this.labelTimer = (this.minutes > 9 ? this.minutes : '0' + this.minutes) + ':' +
                            (this.secondes > 9 ? + this.secondes : '0' + this.secondes);
          this.$emit('timeDecrement', this.labelTimer);

          if(this.secondes == 0) {
            if(this.minutes == 0) {
              if(this.hours == 0) {
                this.timeOut();
              }
            }
          }
      }
    },

    increase(){
      this.currentSecond++;
      if (this.currentSecond === 60){
          this.currentMinute++;
          this.currentSecond = 0;
      }
      if (this.currentMinute === 60){
          this.currentHour++;
          this.currentMinute = 0;
      }
      if (this.currentHour >= 24){
          this.currentHour = 0;
          this.currentMinute = 0;
          this.currentSecond = 0;
      }

      this.currentTime = (this.currentHour > 9 ? this.currentHour : '0' + this.currentHour) + ':' +
                            (this.currentMinute > 9 ? this.currentMinute : '0' + this.currentMinute) + ':' +
                            (this.currentSecond > 9 ? + this.currentSecond : '0' + this.currentSecond);
      
      this.$emit('timeIncrease', this.currentTime);

      if (this.orderBy === 'asc') {
          this.labelTimer = this.currentTime;
      }
    },

    timer() {
      setTimeout(() => {
        if (!this.stop) {
          if(this.play) {
            this.decrement();
            
          }
          this.increase();
        }
        this.timer();
      }, 1000)
    }
  },

  created() {
    let data = this.time.split(':');
    this.hours = data[0];
    this.minutes = data[1];
    this.secondes = data[2]

    if (this.orderBy === 'desc') {
      this.labelTimer = data[0] > 0 ? this.time : data[1] + ':' + data[2] ;
    }
    
    this.timer();
  }
}
</script>

<style>
  .timer {
    color: black;
		margin: 20px;
  }

  .my-fixed-item {
    position: fixed;
    z-index: 100;
    right: 1em;
    top: 7%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 15px rgba(19, 19, 19, 0.4);
    text-align: center;
    /* background-color: #0444a4; */
    background-color: white;
}
</style>