<template>
  <div>
    <q-header class="bg-white text-primary"> <!-- experimento de diseño: quito la etiqueta "elevated"  -->
      <q-toolbar class="bg-white">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          class="mobile-only"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title>
          <div class="mobile-only">
            {{ $router.app.$root._route.meta.pageTitle }}
          </div>
          <!-- Voy a ocultar el logo (experimento de diseño)  -->
          <!-- <img
            class="desktop-only"
            src="../assets/logo.png"
            width="150"
            alt=""
            @click="$router.push({ name: 'home' })"
          />-->
        </q-toolbar-title>
        <menu-dropdown></menu-dropdown>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      :width="280"
    >    
      <!-- Voy a ocultar esto (experimento de diseño)  -->
      <!--<div class="absolute-top bg-grey-3" style="height: 220px">
        <div class="absolute-center bg-transparent">
          <avatar-user size="100"></avatar-user>
          <div class="text-weight-bold q-pt-md">
            {{ user.firstname }} {{ user.lastname }}
          </div>
          <div>{{ user.email }}</div>
        </div>
      </div>-->

      <q-scroll-area
        class="q-pt-lg"
        style="
          height: calc(100% - 20px);
          margin-top: 10px;
        "
      >
      <div class="row flex flex-center">
        <img
          class="q-mb-xl"
          src="../assets/logo_negro.png"
          width="150"
          alt=""
          @click="$router.push({ name: 'home' })"
        />
      </div>
      <div class="row flex flex-center q-pb-xl">
        <q-btn unelevated color="light-blue-4" class="q-py-sm q-pl-md q-pr-md" icon="add_box" label="Añadir palabra" style="border-radius:10px;" @click="$router.push('/app/word/add/1')" />
      </div>

      <div class="text-body2 text-grey-6 q-ml-xl q-mb-lg">APRENDIZAJE</div>

      <div class="row items-center q-ml-xl">
        <q-icon name="view_agenda" class="text-blue-grey-3 cursor-pointer" style="font-size: 35px;" @click="$router.push({ name: 'home' })" />
          <a
            target="_blank"
            class="my-item text-body1 q-ml-md cursor-pointer"
            @click="$router.push({ name: 'home' })"
            >Inicio</a
          >
      </div>

      <div class="row items-center q-ml-xl q-mt-md">
        <q-icon name="dns" class="text-blue-grey-3 cursor-pointer" style="font-size: 35px;" @click="$router.push({name: 'exam-config', params: { categorySelectId: 0 },})" />
          <a
            target="_blank"
            class="my-item text-body1 q-ml-md cursor-pointer"
            @click="$router.push({name: 'exam-config', params: { categorySelectId: 0 },})"
            >Hacer examen</a
          >
      </div>

      <div class="row items-center q-ml-xl q-mt-md">
        <q-icon name="list_alt" class="text-blue-grey-3 cursor-pointer" style="font-size: 35px;" @click="redirectToResult" />
          <a
            target="_blank"
            class="my-item text-body1 q-ml-md cursor-pointer"
            @click="redirectToResult"
            >Último examen</a
          >
      </div>

      <div class="mobile-hide" style="height:30px;"></div>
      <div class="text-body2 text-grey-6 q-ml-xl q-mb-lg q-mt-xl">LEGAL</div>

      <div class="row items-center q-ml-xl q-mt-md">
          <a
            target="_blank"
            class="my-item text-body1 q-ml-md cursor-pointer"
            @click="politica_privacidad = true"
            >Política de privacidad</a
          >
      </div>

      <div class="row items-center q-ml-xl q-mt-md">
          <a
            target="_blank"
            class="my-item text-body1 q-ml-md cursor-pointer"
            @click="terminos_legales = true"
            >Términos del servicio</a
          >
      </div>
      </q-scroll-area>
    </q-drawer>

   <!-- Modal terminos_legales  -->
    <q-dialog v-model="terminos_legales">
      <q-card style="width: 700px; max-width: 95vw;" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Condiciones generales del servicio</div>
        </q-card-section>
        <q-card-section class="q-pt-none">

            <div class="">
                <div class="text-h6 col q-pt-lg">
                  1. INFORMACIÓN LEGAL
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  OBTENTUAPTO S.L. (en adelante, AlfaoBravo), con domicilio en Almería, España, y con correo electrónico info@alfaobravo.com, es la titular y propietaria del sitios Web indicado en el dominio www.alfaobravo.com (en adelante "AlfaoBravo" o "Sitio/s Web").
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  AlfaoBravo se reserva la posibilidad de modificar sin previo aviso, el diseño, presentación y/o configuración de estos Sitios Web, así como algunos o todos los servicios, y añadir servicios nuevos. AlfaoBravo entiende por usuario (en adelante, el “usuario”), las personas físicas que buscan perfeccionar sus conocimientos de ortografía, que utilicen los servicios de AlfaoBravo y accedan a los Sitios Web de los que es titular AlfaoBravo.
                </div>
                <div class="text-h6 col q-pt-lg">
                  2. OBJETO
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Las presentes Condiciones Legales regulan el acceso, el uso por parte de los usuarios a los servicios del Sitio Web. La finalidad de AlfaoBravo es la de proporcionar una plataforma que permite al usuario perfeccionar sus conocimientos de ortografía, para que puedan aprobar los exámenes de ortografía de diferentes tipos de oposiciones. En este sentido, a través de la página www.alfaobravo.com, tiene como objeto facilitar al usuario que pueda acceder a exámenes y listados de palabras que les permitan aprender palabras de la RAE y el uso de las reglas ortográficas.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  AlfaoBravo se encuentra en continua evolución y desarrollo de nuevas herramientas que aporten valor a los usuarios registrados. El uso del Sitio Web implica la plena aceptación por parte de los usuarios de las disposiciones incluidas en las Condiciones Legales en la versión publicada por AlfaoBravo en el momento en que éstos acceden al Sitio Web, así como las características y reglas de uso del mismo. Por ello, AlfaoBravo recomienda leer periódicamente las presentes Condiciones Legales.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El uso de determinados servicios ofrecidos a los usuarios a través del Sitio Web puede encontrarse sometido a condiciones particulares propias que, según los casos, sustituyen, completan y/o modifican las presentes Condiciones Legales. Por lo tanto, con anterioridad a la utilización de dichos servicios, el usuario también debe leer atentamente y aceptar, si fuera el caso, las correspondientes Condiciones particulares propias.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El usuario reconoce que técnicamente no es posible lograr una disponibilidad del Sitio Web al 100%. Sin embargo, AlfaoBravo se esforzará por mantener disponible el Sitio Web de la forma más constante posible. Especialmente por razones de mantenimiento, seguridad o capacidad, así como a causa de acontecimientos sobre los que no pueda influir AlfaoBravo (por ejemplo, anomalías de redes públicas de comunicación, cortes de electricidad, etc.), pueden producirse breves anomalías o la suspensión pasajera de los servicios de AlfaoBravo.
                </div>
                <div class="text-h6 col q-pt-lg">
                  3. SERVICIO DE ALFAOBRAVO PARA USUARIOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Se enumeran los servicios que Alfaobravo presta al Usuario:
                </div>
                <div class="text-subtitle1 col q-pt-md">
                    <ul>
                      <li>ERegistro del usuario de forma gratuita en la Web de AlfaoBravo, pudiendo acceder sin coste alguno a las categorías de palabas clasificadas como “gratuitas”.</li>
                      <li>Listados de palabras estructurados por categorías, para facilitar su aprendizaje. Dichas palabras contienen una definición y, en algunos casos, anotaciones o reglas nemotécnicas para facilitar su aprendizaje.</li>
                      <li>Exámenes que agrupan palabras de las diferentes categorías. En función de si el usuario ha contratado el servicio Premium o no, podrá acceder a las palabras de las categorías “gratuitas” o a las “Premium”. El usuario podrá seleccionar para la creación del exámen palabras correspondientes a diferentes niveles de dificultad, y diferente número de palabras y tiempo para su respuesta.</li>
                      <li>Sistema de creación y seguimiento de objetivos diarios de aprendizaje de palabras.</li>
                      <li>Métricas de seguimiento de palabras acertadas por categoría.</li>
                      <li>Resultados de exámenes anteriores.</li>
                      <li>Creación de sus propios listados de palabras, y categorías, pudiendo añadir también notas y definiciones.</li>
                      <li>Otros servicios que AlfaoBravo pueda crear y que considera de interés para los usuarios como consejos, formación, red de contactos, espacios de diálogos, videotutoriales o un blog, entre otros.</li>
                    </ul>
                </div>
                <div class="text-h6 col q-pt-lg">
                  4. OBLIGACIONES DEL USUARIO
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Con la aceptación de las presentes Condiciones Generales, el usuario se obliga a:
                </div>
                <div class="text-subtitle1 col q-pt-md">
                    <ul>
                      <li>Cumplir las presentes Condiciones y obrar conforme a la ley y a la buena fe, absteniéndose de utilizar el sitio web www.alfaobravo.com de forma que pueda impedir, dañar o deteriorar el normal funcionamiento del mismo, así como los bienes y derechos de AlfaoBravo, del resto de usuarios o de terceros.</li>
                      <li>Custodiar diligentemente sus credenciales de acceso al servicio, así como a no ceder su uso ni permitir dicho acceso a terceros, asumiendo, en su caso, la responsabilidad derivada que el uso indebido del sitio web pudiera ocasionar. AlfaoBravo se reserva, en este sentido, la facultad para eliminar los perfiles de aquellos uaurios que compartan sus credenciales, así como bloquear permanentemente las cuentas de los usuarios que incurran en este tipo de conductas.</li>
                      <li>Facilitar información actualizada, exacta y veraz para el uso del servicio proporcionado, garantizando este extremo respecto de la cumplimentación de los distintos formularios exigibles para el registro en la plataforma y uso de la herramienta.</li>
                      <li>Respetar las leyes que resulten de aplicación, así como no introducir, almacenar o difundir desde el sitio web, cualquier información o contenido que pudiera ser contrario a la legalidad o al orden público. AlfaoBravo se reserva, en este sentido, la facultad para eliminar este tipo de contenidos, así como bloquear las cuentas de los usuarios que incurran en este tipo de conductas.</li>
                      <li>No introducir, almacenar o difundir a través de este sitio web programa de ordenador, datos, virus, código o cualquier otro fichero, que sea susceptible de causar daños o cualquier tipo de alteración en este plataforma, impidiendo su normal funcionamiento o produciendo algún tipo de perjuicio para el resto de usuarios o terceros.</li>
                    </ul>
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El usuario que incumpla lo dispuesto en este apartado responderá por los daños y perjuicios ocasionados a AlfaoBravo, así como al resto de usuarios, empresas y demás partes. AlfaoBravo queda, en cualquier caso, excluida de responsabilidad por el posible mal uso llevado a cabo por los usuarios de los servicios prestados en esta plataforma.
                </div>
                <div class="text-h6 col q-pt-lg">
                  5. CONTENIDO FACILITADO POR EL USUARIO
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El usuario se compromete a aportar información veraz sobre su persona, haciéndose responsable de los daños y perjuicios ocasionados en caso de que tal información resultara ser falsa.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La información proporcionada por el usuario ha de reunir, igualmente, los requisitos de calidad exigidos por AlfaoBravo, evitando subir contenido que pueda resultar ofensivo o inadecuado.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El usuario autoriza el uso de sus contenidos subidos a la plataforma y resultados de sus exámenes para fines exclusivamente relacionados con la mejora de la calidad del servicio, reservándose AlfaoBravo el derecho a crear informes estadísticos y compartir con el resto de los usuarios determinadas palabras o anotaciones aportadas por el usuario.
                </div>
                <div class="text-h6 col q-pt-lg">
                  6. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Quedan reservados todos los derechos de explotación.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Este Sitio Web se rige por las leyes españolas y se encuentra protegido por la legislación nacional e internacional sobre propiedad intelectual e industrial.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Los textos, diseños, imágenes, audio, bases de datos, logos, estructura, marcas y demás elementos de este sitio están protegidos por los derechos de propiedad intelectual e industrial de AlfaoBravo y/o de terceros titulares de los mismos que han autorizado debidamente su inclusión en el Sitio Web.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Cualquier reproducción, transmisión, adaptación, traducción, modificación, comunicación al público, o cualquier otra explotación de todo o parte del contenido de este Sitio Web, efectuada de cualquier forma o por cualquier medio, electrónico, mecánico u otro, están estrictamente prohibidos salvo autorización previa por escrito de AlfaoBravo o de terceros titulares. Cualquier infracción de estos derechos puede dar lugar a procedimientos extrajudiciales o judiciales civiles o penales que correspondan.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  AlfaoBravo no concede ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad intelectual e industrial o sobre cualquier otra propiedad o derecho relacionado con el Portal, los servicios o los contenidos del mismo.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Las presentes Condiciones Legales y el resto de condiciones del Sitio Web se regirán por la legislación española.
                </div>
                <div class="text-h6 col q-pt-lg">
                  7. ENLACES, “LINKS” A PÁGINAS DE TERCEROS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  AlfaoBravo incluye dentro de sus contenidos enlaces con sitios pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso a información disponible a través de Internet.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  AlfaoBravo no asume ninguna responsabilidad derivada de la existencia de enlaces entre los contenidos de este sitio y contenidos situados fuera del mismo o de cualquier otra mención de contenidos externos a este sitio. Tales enlaces o menciones tienen una finalidad exclusivamente informativa y, en ningún caso, implican el apoyo, aprobación, comercialización o relación alguna entre AlfaoBravo y las personas o entidades autoras y/o gestoras de tales contenidos o titulares de los sitios donde se encuentren.
                </div>
                <div class="text-h6 col q-pt-lg">
                  8. LEGISLACIÓN APLICABLE
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Las presentes Condiciones Generales de uso, así como las cuestiones que pudieran plantearse en torno a ella se regirán por las leyes españolas en vigor.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Toda disputa planteada entre AlfaoBravo y cualquier otra persona jurídica, que no pudiera resolverse de forma amistosa, quedará sometida a la jurisdicción de los Juzgados y Tribunales de Almería.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La resolución de los conflictos en los que los usuarios o empresas sean parte quedará sometida al fuero jurisdiccional que corresponda, en aplicación de la normativa procesal vigente.
                </div>
            </div>

        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal terminos_legales -->

    <!-- Modal politica_privacidad  -->
    <q-dialog v-model="politica_privacidad">
      <q-card style="width: 700px; max-width: 95vw;" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Política de privacidad</div>
        </q-card-section>
        <q-card-section class="q-pt-none">

            <div class="">
                <div class="text-h6 col q-pt-lg">
                  1. RESPONSABLE Y ENCARGADO
                </div>
                <div class="text-subtitle1 col q-pt-md">
                    <ul>
                      <li>Encargado de tratamiento: OBTENTUAPTO, S.L.</li>
                      <li>Contacto Responsable de tratamiento: info@alfaobravo.com</li>
                      <li>Delegado Protección de Datos: Alejandro Manuel López Garrido</li>
                      <li>Contacto Delegado Protección de Datos: garridoaml@gmail.com</li>
                      <li>Encargado de tratamiento: OBTENTUAPTO, S.L.</li>
                    </ul>
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Le informamos que estos datos serán tratados de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), la Ley Orgánica (ES) 15/1999 de 13 de diciembre (LOPD) y el Real Decreto (ES) 1720/2007 de 21 de diciembre (RDLOPD), por lo que se le facilita la siguiente información del tratamiento:
                </div>
                <div class="text-h6 col q-pt-lg">
                  2. FINALIDADES
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La correcta prestación del servicio, así como facilitar la formación de los usuarios en ortografía de cara a la superación de exámenes de oposiciones.
                </div>
                <div class="text-h6 col q-pt-lg">
                  3. CRITERIOS DE CONSERVACIÓN DE LOS DATOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Se conservarán mientras exista un interés mutuo para mantener el fin del tratamiento, así como el tiempo necesario para cumplir las obligaciones legales, siendo el plazo máximo 18 meses. Cuando ya no sea necesario para tal fin, se suprimirán con medidas de seguridad adecuadas para garantizar la destrucción de los datos que puedan identificar al usuario. El resto, serán guardados bajo seudónimo únicamente para fines estadísticos.
                </div>
                <div class="text-h6 col q-pt-lg">
                  4. LEGITIMACIÓN
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La base legal para el tratamiento de tus datos radica en:
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  La ejecución de un contrato en relación con la finalidad indicada en el apartado 1 anterior. El consentimiento del usuario en relación con la finalidad indicada en los apartados 2 a 6 anteriores.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El cumplimiento de obligaciones legales aplicables a OBTÉNTUAPTO SL  para la finalidad indicada en el apartado 7.
                </div>
                <div class="text-h6 col q-pt-lg">
                  5. DESTINATARIOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Tus datos no serán cedidos para otras finalidades distintas a las anteriormente descritas, excepto por obligación legal. Asimismo, y con el cumplimiento de las medidas técnicas y organizativas necesarias, sin perjuicio de las obligaciones derivadas de la normativa vigente en materia de protección de datos, tus datos podrán ser accedidos por aquellos proveedores que prestan servicios a OBTENTUAPTO SL, tales como servicios de alojamiento de contenido, de mensajería instantánea, etc. OBTENTUAPTO SL  ha suscrito los correspondientes contratos de encargo de tratamiento con cada uno de los proveedores que prestan servicios con el objetivo de garantizar que dichos proveedores tratarán tus datos de conformidad con lo establecido en la legislación vigente.
                </div>
                <div class="text-h6 col q-pt-lg">
                  6. DERECHOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Derecho a retirar el consentimiento en cualquier momento.
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  Derecho de acceso, rectificación y supresión de sus datos y a la limitación u oposición a su tratamiento, así como a no aceptar la elaboración de perfiles ni la portabilidad de los datos. Derecho a presentar una reclamación ante la Autoridad de control (agpd.es) si considera que el tratamiento no se ajusta a la normativa vigente.
                </div>
                <div class="text-h6 col q-pt-lg">
                  7. DATOS DE CONTACTO PARA EJERCER SUS DERECHOS
                </div>
                <div class="text-subtitle1 col q-pt-md">
                  El interesado podrá ejercer sus derechos poniéndose en contacto con el Encargado de tratamiento enviando un email al Encargado de tratamiento o al Responsable de Tratamiento referidos en el apartado 1.
                </div>
            </div>

        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="CANCELAR" color="primary" v-close-popup />
          <q-btn
            flat
            label="ACEPTAR"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- Modal politica_privacidad -->
  </div>
</template>

<script>
import { LocalStorage } from "quasar";
import { mapState, mapActions } from "vuex";
import exam from "../helper/exam";

export default {
  name: "ToolbarMenu",
  data() {
    return {
      leftDrawerOpen: false,
      terminos_legales: false,
      politica_privacidad: false,
    };
  },
  components: {
    "menu-dropdown": require("components/MenuDropdown.vue").default,
    "avatar-user": require("components/AvatarUser.vue").default,
  },
  methods: {
    ...mapActions("user", ["addUser"]),
    async redirectToResult() {
      try {
        let res = await exam.showResponde("null");
        this.$router.push({
          name: "exam-result",
          params: { id: res.data.exam },
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
  computed: {
    ...mapState("user", ["user"]),
  },
  created() {
    if (LocalStorage.getItem("userInfo")) {
      this.addUser(LocalStorage.getItem("userInfo"));
    }
  },
};
</script>

<style lang="scss">
.my-item:nth-child(n) {
color:#37474F;
text-decoration: none;
}
.my-item:hover {
color: #4FC3F7;
}
</style>