<template>
  <div>

  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <!-- Título -->
        <div class="q-mt-lg q-mb-lg desktop-only" align="center">
          <div class="text-h5 text-primary">Editar perfil</div>
        </div>
        <!-- Título -->

          <!-- icono de imagen de usuario -->
          <div class="row justify-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 q-pa-md">
              <div class="q-pt-lgv" align="center">
                <avatar-user size="120"></avatar-user>
              </div>
            </div>
          </div>
          <!-- icono de imagen de usuario -->
  
          <q-form>
            <div class="row q-mt-xl">
              <div class="col-lg-6 col-md-6 col-xs-12">
                <q-input
                  v-on:keyup="capitalizingStrings"
                  outlined
                  required
                  ref="name"
                  v-model="formData.firstname"
                  class="q-mb-lg q-px-md"
                  label="Nombre"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <q-input
                  outlined
                  v-on:keyup="capitalizingStrings"
                  required
                  v-model="formData.lastname"
                  class="q-mb-lg q-px-md"
                  label="Apellido"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <q-select
                  outlined
                  required
                  ref="country_id"
                  v-model="country"
                  class="q-mb-lg q-px-md"
                  label="Pais"
                  option-value="id"
                  option-label="name"
                  :options="listCountries"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <q-input
                  outlined
                  required
                  ref="email"
                  v-model="formData.email"
                  class="q-mb-lg q-px-md"
                  type="email"
                  label="Correo electronico"
                />
              </div>
              <q-btn
                style=""
                class="q-pa-xs q-ml-md"
                unelevated
                flat
                color="primary"
                label="Cambiar contraseña"
                @click="enableModal"
                v-if="hasPass"
              />
              <q-btn
                style=""
                class="q-pa-xs q-ml-md"
                unelevated
                flat
                color="primary"
                label="Crear contraseña"
                @click="enableCreateModal"
                v-if="!hasPass"
              />
            </div>
          </q-form>
        </div>
        <div class="col-lg-5 col-md-5 col-xs-12">
          <div class="text-center q-ma-md">
            <q-btn
              style="width: 100%"
              class="q-mt-lg q-py-sm btn"
              unelevated
              rounded
              color="primary"
              label="Actualizar"
              @click="submitForm"
            />
          </div>
        </div>
      </div>
    </q-page>

    <modal-password :active="active" @disable-modal="disableModal" />
    <modal-password
      :active="activeCreate"
      :create="true"
      @disable-modal="disableCreateModal"
      @change-btn="changeBtn"
    />
  </div>
</template>

<script>
import { LocalStorage } from "quasar";
import { mapActions, mapState } from "vuex";
import auth from "../helper/auth";
const { api } = require("../config/apiConfig");
import utils from "../utils/splitName";

export default {
  data() {
    return {
      formData: {
        firstname: "",
        lastname: "",
        email: "",
        country_id: null,
      },
      listCountries: [],
      active: false,
      activeCreate: false,
      editDisable: true,
      countryName: "",
      country: "",
      user_id: "",
      hasPass: true,
    };
  },

  components: {
    "avatar-user": require("components/AvatarUser.vue").default,
    "modal-password": require("components/modal/ModalPassword.vue").default,
  },

  computed: {
    ...mapState("countries", ["countries"]),
  },
  methods: {
    ...mapActions("countries", ["addCountries", "destroyCountries"]),
    ...mapActions("user", ["addUser"]),

    async updateUser() {
      if (this.formData.country_id == null && !this.country.id) {
        let data = LocalStorage.getItem("userInfo");
        this.formData.country_id = data.id;
        this.countryName = data.country;
      } else {
        this.formData.country_id = this.country.id;
        this.countryName = this.country.name;
      }

      const notif = this.$q.notify({
        type: "ongoing",
        message: "Por favor espere...",
        position: "top",
      });
      try {
        await auth.update(this.formData);
        notif({
          type: "positive",
          message: "¡Datos actualizados!",
          timeout: 3000,
          position: "top",
        });

        this.setUserInfo();
        this.editDisable = true;
      } catch (error) {
        console.log(error);

        notif({
          type: "negative",
          message: "Ocurrió un error",
          timeout: 3000,
          position: "top",
        });
      }
    },
    editEnable() {
      this.editDisable = !this.editDisable;

      if (!this.countries[0]) {
        this.loadCountries();

        this.listCountries = this.countries;
      }
    },

    capitalizingStrings(myComponent) {
      myComponent.srcElement.value = myComponent.srcElement.value.replace(
        /\w\S*/g,
        (w) => w.replace(/^\w/, (c) => c.toUpperCase())
      );
    },

    submitForm() {
      this.updateUser();
    },

    setUserInfo() {
      let data = {
        id: this.user_id,
        fullname:
          utils.formatFirstname(this.formData.firstname) +
          " " +
          utils.formatLastname(this.formData.lastname),
        email: this.formData.email,
        img: null,
        tutorial: true,
        country_id: this.formData.country_id,
        country: this.countryName,
      };

      LocalStorage.remove("userInfo");
      LocalStorage.set("userInfo", data);

      this.addUser(data);
    },

    loadUserInfo() {
      let data = LocalStorage.getItem("userInfo");
      this.hasPass = data.password;

      this.formData = {
        firstname: utils.splitFirstname(data.fullname),
        lastname: utils.splitLastname(data.fullname),
        email: data.email,
      };

      this.country = data.country;
      this.user_id = data.id;

      let country = {
        id: data.country_id,
        name: data.country,
      };

      this.listCountries.push(country);
    },

    async loadCountries() {
      this.$q.loading.show();
      await this.axios
        .get(api.countries.index)
        .then((res) => {
          this.addCountries(res.data);
        })
        .catch((error) => {
          this.addCountries([
            { id: 1, name: "España", code: "ES" },
            { id: 5, name: "Colombia", code: "CO" },
            { id: 20, name: "Venezuela", code: "VE" },
          ]);
        });
      this.$q.loading.hide();
    },

    enableModal() {
      this.active = true;
    },

    disableModal(e) {
      this.active = e;
    },

    enableCreateModal() {
      this.activeCreate = true;
    },

    disableCreateModal(e) {
      this.activeCreate = e;
    },

    changeBtn(e) {
      this.hasPass = e;
    },
  },
  created() {
    this.loadUserInfo();
  },
  destroyed() {
    if (!this.listCountries.length > 0) {
      this.destroyCountries();
    }
  },
};
</script>

<style>
@media (max-height: 540px) {
  .mar {
    margin-bottom: 16px;
    margin-top: 5px;
  }

  .ava {
    margin-bottom: -5px;
  }

  form .btn {
    margin-top: 0px;
  }
}

@media (max-height: 570px) {
  .mar {
    margin-bottom: 18px;
  }

  .ava {
    margin-bottom: -5px;
  }

  form .btn {
    margin-top: 0px;
  }
}

@media (max-height: 640px) {
  form .mar {
    margin-top: -10px;
  }
}
</style>