<template>
  <q-layout view="lHh Lpr lff" class="bg-white"> <!-- Antes ponía hHh  -->

    <toolbar-menu></toolbar-menu>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
    }
  },
  components: {
    'toolbar-menu' : require('src/components/ToolbarMenu.vue').default,
  }
}
</script>
